/*
Template Name: Ambar
Template URL: http://wwsthemes.com/themes/ambar/v2.0/
Description: Multipurpose Landing Page Template
Version: 2.0
Author: WWS Themes
Author URL: http://wwsthemes.com
*/

/****************************/
/********* Navbar **********/
/****************************/

.navbar-light{
    background-color: #fff;
    border: 0px;
    border-bottom: 1px solid #f5f5f5;
    margin: 0px;
    padding: 10px 0px;

}

.navbar-light .navbar-nav .nav-link{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link{
    color: #222;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #97cc04;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover{
    background-color: transparent;
    color: #97cc04;
}

.navbar-light .navbar-nav>li>a.btn{
    color: #fff;
}

.navbar-light .navbar-collapse,
.navbar-light .navbar-form{
    border: 0px;
    margin-top: 20px;
    padding: 0px 20px;
}

header.fixed .navbar-light{
    padding: 10px 0px;
}

.navbar-collapse{
    float: right;
}

.navbar-brand{
    height: auto;
    padding: 0px;
    align-self: flex-start;
}

.navbar-light .navbar-toggler.collapsed{
    color: #2c2c2c;
}

.navbar-toggler {
    cursor: pointer;
}

.navbar-toggler-right{
    right: 1rem;
}

html[dir="rtl"] .navbar-toggler-right{
    left: 1rem;
    right: initial;
}

.navbar-light .navbar-toggler{
    background-color:transparent;
    color: #97cc04;
    border: 0px;
    padding:10px;
    top: 14px;
    margin: 0px 10px 0px 0px;
    font-size:35px;
    line-height:35px;
}

.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover{
    outline: none;
    color: #97cc04;
    background-color: transparent;
}

.breadcrumb{
    margin: 10px 0px;
    padding: 0px;
    background-color: transparent;
}

/****************************/
/********* Buttons **********/
/****************************/

.btn{
    position: relative;
    color: #fff;
    border-radius:4px;
    border: 0;
    padding: 12px 30px;
    font-size: 0.83rem;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 1px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition:350ms ease all;
    transition: 350ms ease all;
}

.btn:active,
.btn.active,
.btn:focus,
.btn:active:focus{
    outline: none !important;
    box-shadow: none !important ;
}

.btn:hover{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.btn-sm{
    font-size: 0.61rem;
    padding: 8px 24px;
}

.btn-lg{
    font-size: 0.83rem;
    padding: 18px 48px;
}

.btn-primary,
.btn-primary:hover{
    color: #fff;
    background-color: #97cc04;
}

.btn-secondary,
.btn-secondary:hover{
    color: #fff;
    background-color: #2c2c2c;
}

.btn-success,
.btn-success:hover{
    background-color: #41c741;
}

.btn-info,
.btn-info:hover{
    background-color: #00c4ff;
}

.btn-warning,
.btn-warning:hover{
    background-color: #ffc800;
}

.btn-danger,
.btn-danger:hover{
    background-color: #e62c22;
}

.btn-link,
.btn-link:hover{
    color: #97cc04;
    box-shadow: none;
    text-decoration: none;
}

.dropdown-menu{
    min-width: 200px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.dropdown-menu>li>a{
    padding: 10px 15px;
    font-size: 0.89rem;
}

.input-group-addon{
    background-color: #f5f5f5;
    border: 0;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

/****************************/
/********** Images **********/
/****************************/

.img-rounded{
    border-radius: 4px;
}

/****************************/
/********** Lists ***********/
/****************************/

.list-default{
    padding-left: 25px;
    list-style: none;
}

/* RTL Support */
html[dir="rtl"] .list-default{
    padding-left: 0px;
    padding-right: 25px;
}

.list-default>li{
    position: relative;
    padding: 6px 0;
    line-height: 1.55em;
    font-size: 0.94rem;
}

.list-default>li:before{
    content: "\f362";
    position: absolute;
    left: -25px;
    top: 8px;
    font-size: 12px;
    color: #97cc04;
    font-family: "Ionicons";
}

/* RTL Support */
html[dir="rtl"] .list-default>li:before{
    left: initial;
    right: -25px;
}

/****************************/
/********** Tables **********/
/****************************/

.table>thead>tr>th{
    border-bottom: 1px solid #878787;
    font-weight: 500;
    color: #97cc04;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
    border-top: 1px solid #878787;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #f9f9f9;
}

.table-bordered{
    border: 1px solid #878787;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th{
    border:1px solid #878787;
}

.table-hover>tbody>tr:hover{
    background-color: #f9f9f9;
}

/****************************/
/********** Forms ***********/
/****************************/

.form-group{
    margin-bottom: 20px;
    position: relative;
}

.form-control{
    border: 0px;
    background-color: #f5f5f5;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 45px;
    position: relative;
    font-size: 0.89rem;
    color: #878787;
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

textarea.form-control,
select.form-control{
    border-radius: 4px;
}

.form-control:focus{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.has-success .form-control,
.has-warning .form-control,
.has-error .form-control{
    border: 0px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 45px;
    position: relative;
    font-size: 0.89rem;
    color: #878787;
}

.has-success .form-control{
    background-color: #eaf8eb;
}

.has-warning .form-control{
    background-color: #fff6d6;
}

.has-error .form-control{
    background-color: #ffe4e2;
}

.has-success .form-control:focus,
.has-warning .form-control:focus,
.has-error .form-control:focus{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label{
    color: #41c741;
}

.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label{
    color: #ffc800;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label{
    color: #e62c22;
}

.has-feedback .form-control-feedback{
    top:6px;
}

.has-success .form-control-feedback{
    color: #41c741;
}

.has-warning .form-control-feedback {
    color: #ffc800;
}

.has-error .form-control-feedback {
    color: #e62c22;
}

.has-success .input-group-addon,
.has-warning .input-group-addon,
.has-error .input-group-addon{
    border-color: #d7d7d7;
}

.input-lg, .form-group-lg .form-control{
    height: 50px;
    border-radius: 4px;
}
.input-sm, .form-group-sm .form-control{
    height: 30px;
    border-radius: 4px;
}

.form-inline .form-group{
    margin-top: 0px;
}

.form-inline .checkbox,
.form-inline .checkbox-inline,
.form-inline .radio,
.form-inline .radio-inline{
    height: 45px;
    padding: 12px;
}

.checkbox,
.radio,
.checkbox-inline,
.radio-inline,
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline{
    position: relative;
    padding: 12px 0px;
    cursor: initial;
}

.checkbox > input,
.checkbox-inline > input,
.radio > input,
.radio-inline > input{
    position: relative !important;
    margin: 0px !important;
    visibility: hidden;
}

.checkbox > label,
.checkbox-inline label,
.form-inline .checkbox label,
.radio > label,
.radio-inline > label,
.form-inline .radio label{
    position: relative;
    padding-left: 8px;
    cursor: default;
}

.checkbox > label:before,
.checkbox-inline > label:before{
    content: "\f371";
    font-family: "Ionicons";
    position: absolute;
    line-height: 14px;
    left: -18px;
    top: 2px;
    font-size: 24px;
    color: #97cc04;
    background-color: #fff;
}

.checkbox > input:checked + label:before,
.checkbox-inline > input:checked + label:before{
    content: "\f374";
    color: #97cc04;
}

.radio > label:before,
.radio-inline > label:before{
    content: "\f3a6";
    font-family: "Ionicons";
    position: absolute;
    line-height: 14px;
    left: -18px;
    top: 2px;
    font-size: 24px;
    color: #97cc04;
}

.radio > input:checked + label:before,
.radio-inline > input:checked + label:before{
    content: "\f3a7";
    color: #97cc04;
}

.checkbox.disabled > input + label:before,
.checkbox-inline.disabled > input + label:before,
.radio.disabled > input + label:before,
.radio-inline.disabled > input + label:before{
    color: #818181;
}

.checkbox.disabled:hover,
.checkbox-inline.disabled:hover,
.radio.disabled:hover,
.radio-inline.disabled:hover{
    cursor: default;
}

/****************************/
/*********** Tabs ***********/
/****************************/

.nav-tabs{
    border: 0px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e8e8e8;
}

.nav-tabs .nav-item .nav-link{
    border: 0px;
    color: #818181;
    border-radius: 0;
    font-weight: 400;
    padding: 0px 0px 20px 0px;
    margin-right: 50px;
    font-size: 0.94rem;
}

.nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover{
    background-color: transparent;
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link.active:focus,
.nav-tabs .nav-item .nav-link.active:hover{
    border: 0;
    border-bottom: 1px solid #97cc04;
    color: #97cc04;
}

.nav-pills .nav-item .nav-link{
    font-weight: 400;
    font-size: 0.94rem;
    color: #818181;
    padding: 20px 0px;
    margin-right: 50px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0px;
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:focus,
.nav-pills .nav-item .nav-link.active:hover{
    color: #97cc04;
    background-color: #fff;
    border-bottom: 1px solid #97cc04;
}

/****************************/
/******** Accordion *********/
/****************************/

.card{
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid #e8e8e8;
}

.card + .card{
    margin: 0px;
}

.card .card-header{
    background-color: #fff;
    color: #97cc04;
    padding: 20px 0px;
    border-bottom: 0;
}

.card .card-header .card-title{
    font-weight: 400;
    font-size: 0.94rem;
    margin-bottom: 0;
}

.card .card-header a i{
    font-size: 26px;
    vertical-align: middle;
    margin-right: 10px;
}

/* RTL Support */
html[dir="rtl"] .card .card-header a i{
    margin-right: 0px;
    margin-left: 10px;
}

.card .card-block{
    border-top: 1px solid #e8e8e8;
    padding: 20px 0px;
}

/****************************/
/********** Alerts **********/
/****************************/

.alert{
    border-radius: 4px;
    border: 0px;
    font-size: 0.89rem;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    z-index: 3;
}

.alert-success{
    color: #41c741;
    background-color: #eaf8eb;
}

.alert-success .alert-link{
    color: #3d9e3f;
}

.alert-info{
    color: #00cfff;
    background-color: #e1f8ff;
}

.alert-info .alert-link{
    color: #2a80ab;
}

.alert-warning{
    color: #ffc800;
    background-color: #fff6d6;
}

.alert-warning .alert-link{
    color: #b58023;
}

.alert-danger{
    color: #e62c22;
    background-color: #ffe4e2;
}

.alert-danger .alert-link{
    color: #b33231;
}

/****************************/
/******* Progress Bar *******/
/****************************/

.progress{
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.progress-bar{
    background-color: #1696e7;
    font-size: 0.78rem;
    line-height: 25px;
    position: relative;
    height: 8px;
    border-radius: 50px;
}

.progress-bar-success{
    background-color: #41c741;
}

.progress-bar-info{
    background-color: #00c4ff;
}

.progress-bar-warning{
    background-color: #ffc800;
}

.progress-bar-danger{
    background-color: #e62c22;
}


/****************************/
/******** List Group ********/
/****************************/

.badge{
    font-size: 0.83rem;
    padding: 5px 8px;
    background-color: #97cc04;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    font-weight: 300;
}

.list-group{
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
}

.list-group-item{
    border:0px;
    margin: 2px 0px;
    background-color: #f5f5f5;
}

a.list-group-item,
button.list-group-item,
a.list-group-item:hover,
button.list-group-item:hover{
    color: #818181;
    background-color: #f5f5f5;
}

a.list-group-item-success,
button.list-group-item-success,
a.list-group-item-success:hover,
button.list-group-item-success:hover {
    color: #41c741;
    background-color: #eaf8eb;
}

a.list-group-item-info,
button.list-group-item-info,
a.list-group-item-info:hover,
button.list-group-item-info:hover {
    color: #00cfff;
    background-color: #e1f8ff;
}

a.list-group-item-warning,
button.list-group-item-warning,
a.list-group-item-warning:hover,
button.list-group-item-warning:hover {
    color: #ffc800;
    background-color: #fff6d6;
}

a.list-group-item-danger,
button.list-group-item-danger,
a.list-group-item-danger:hover,
button.list-group-item-danger:hover {
    color: #e62c22;
    background-color: #ffe4e2;
}

/****************************/
/********* Modals **********/
/****************************/

.modal{
  text-align: center;
}

.modal-dialog{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content{
    padding: 10px;
    border-radius: 4px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
    border: 0px;
}

.close{
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 1;
    z-index: 99;
}


.close,
.close:focus,
.close:hover{
    opacity: 1;
    outline: none;
}

.close i{
    color: #97cc04;
    font-size: 46px;
}

/****************************/
/********* Carousel *********/
/****************************/

.carousel-control-prev,
.carousel-control-next{
    top:50%;
    text-shadow: none;
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 50px;
    border-radius: 4px;
    text-align: center;
    opacity: 1;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
}

.carousel-control-prev{
    left: 10px;
}

.carousel-control-next{
    right: 10px;
}

.carousel-indicators li{
    border: 1px solid #97cc04;
}

.carousel-indicators .active{
    background-color: #97cc04;
}

/***************************/
/******** Mobile CSS *******/
/***************************/

/* Extra Large Devices */
@media only screen and (min-width: 1200px){

}

/* Large Devices */
@media only screen and (min-width: 992px){
    .navbar-light{
        padding-top: 10px;
        border-bottom:0px;
    }

    .navbar-light .navbar-collapse,
    .navbar-light .navbar-form{
        background-color: transparent;
        margin-top: initial;
        padding: 0px;
    }

    .navbar-header{
        margin-bottom:0px;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 90%;
    }
}

/* Medium Devices */
@media only screen and (min-width: 768px){

}

/* Small Devices, Phones */
@media only screen and (min-width: 576px){

}
