<!DOCTYPE html>
<html lang="pl">

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-129404080-1');
	</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{description}}">
  <meta name="author" content="Koala Kombucha">

  <!-- Put your website's title here. -->
  <title>{{title}}</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--Bootstrap Framework Version 4.0-->
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">

  <!-- Ion Icons Version 2.0.1 -->
  <link href="css/ionicons.min.css" rel="stylesheet">
  <link href="css/daniela.css" rel="stylesheet">

  <!-- Stylesheets -->
  <link href="css/style.css?v6" type="text/css" rel="stylesheet" id="style">
  <link href="css/components.css" type="text/css" rel="stylesheet" id="components">
  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143314091-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-143314091-1');
  </script>


  <script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "LocalBusiness",
"address": {
"@type": "PostalAddress",
"addressLocality": "Szczecin",
"addressRegion": "zachodniopomorskie",
"postalCode":"70-028",
"streetAddress": "Zygmunta Chmielewskiego 18"
},
"description": "Koala Kombucha - sklep w ofercie którego znajduje się prozdrowotny napój probiotyczny - kombucza - z mieszanki organicznych cherbat.",
"priceRange": "PLN",
"name": "Koala Kombucha",
"telephone": "607 343 756",
"openingHours": "Su 10:00-15:00",
"email": "kontakt@koala-kombucha.pl",
"url": "https://www.koala-kombucha.pl/",
"logo": "https://www.koala-kombucha.pl/images/logo.png",
"image": "https://www.koala-kombucha.pl/images/ananas.png",
"hasMap": "https://www.google.com/maps/place/Koala+Kombucha/@53.4025965,14.5325805,15z/data=!4m12!1m6!3m5!1s0x0:0x93a6066110d012d2!2sKoala+Kombucha!8m2!3d53.4025965!4d14.5325805!3m4!1s0x0:0x93a6066110d012d2!8m2!3d53.4025965!4d14.5325805",
"geo": {
"@type": "GeoCoordinates",
"latitude": "53.4025965",
"longitude": "14.5325805"
},
"sameAs" : [ "https://www.facebook.com/kombuchakoala/",
"https://instagram.com/koalakombucha/"]
}
</script>

</head>
<body data-spy="scroll" data-target="#navigation" data-offset="100">
<a class="navbar-brand" href="https://www.koala-kombucha.pl" id="logo-top">
  <img src="/images/logo.png" alt="Koala Kombucha" class="logo">
</a>
<header>
  <div class="container-fluid">
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-md navbar-light">
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <i class="ion-ios-more-outline"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="/#start" class="nav-link scroll-link">Produkty</a>
          </li>
          <li class="nav-item">
            <a href="/#o-co-chodzi" class="nav-link scroll-link">O co chodzi?</a>
          </li>
          <li class="nav-item">
            <a href="/#benefity" class="nav-link scroll-link">Benefity kombuchy</a>
          </li>
          <li class="nav-item">
            <a href="/#where-to-buy" class="nav-link scroll-link">Gdzie kupić</a>
          </li>
          <li class="nav-item">
            <a href="/o-koali-kombucha.html" class="nav-link">O nas</a>
          </li>
          <li class="nav-item">
            <a href="/blog/" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://sklep.koala-kombucha.pl" target="_blank" class="btn-menu nav-link scroll-link">Sklep</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

{{template}}

<!-- Footer -->
<div class="footer">
  <div class="footer-pri">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="footer-box about-box">
            <img src="images/logo.png" alt="Koala Kombucha" class="logo" style="max-width: 100px;">
            <br/><br/>
            <p style="font-size: 150%;">Koala Kombucha</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box links-box">
            <p class="heading" style="font-size: 150%;">Idź do</p>
            <ul>
              <li class="nav-item">
                <a href="/#start">Produkty</a>
              </li>
              <li class="nav-item">
                <a href="/#o-co-chodzi">O co chodzi?</a>
              </li>
              <li class="nav-item">
                <a href="/#benefity">Benefity kombuchy</a>
              </li>
              <li class="nav-item">
                <a href="/#where-to-buy">Gdzie kupić</a>
              </li>
              <li class="nav-item">
                <a href="/o-koali-kombucha.html" class="nav-link">O nas</a>
              </li>
              <li class="nav-item">
                <a href="/blog/index.html" class="nav-link">Blog</a>
              </li>
              <!--<li class="nav-item">-->
              <!--<a href="/sklep" target="_blank">Sklep</a>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box social-box">
            <p class="heading" style="font-size: 150%;">Kontakt</p>
            <ul class="contact">
              <li>kontakt@koala-kombucha.pl</li>
            </ul>
            <ul class="social">
              <li><a href="https://www.facebook.com/kombuchakoala/" rel="nofollow"><i class="ion-social-facebook"></i></a></li>
              <li><a href="https://instagram.com/koalakombucha/" rel="nofollow"><i class="ion-social-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-sec">            <!-- Secondary Footer -->
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2019 All rights reserved
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.Tether = function () {
    throw new Error('Your Bootstrap may actually need Tether.');
  };
</script>

<!-- JQuery Version 2.2.4 -->
<script src="js/jquery.min.js" ></script>

<!-- Bootstrap Version 3.3.7 -->
<script src="js/bootstrap.min.js" ></script>

<!-- Classie JS -->
<script src="js/classie.js" ></script>

<!-- Count To JS -->
<script src="js/jquery.countTo.js" ></script>

<!-- Appear Js -->
<script src="js/jquery.appear.js" ></script>

<!-- Smooth Scroll JS -->
<script src="js/smoothscroll.js" ></script>
<script src="js/script.js" ></script>


<script>
  $('.navbar-nav>li>a').on('click', function () {
    $('.navbar-collapse').collapse('hide');
  });
</script>

</body>

</html>
