<!DOCTYPE html>
<html lang="pl">

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-129404080-1');
	</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Polityka prywatności - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <!-- Put your website's title here. -->
  <title>Koala Kombucha - Polityka prywatności</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--Bootstrap Framework Version 4.0-->
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">

  <!-- Ion Icons Version 2.0.1 -->
  <link href="css/ionicons.min.css" rel="stylesheet">
  <link href="css/daniela.css" rel="stylesheet">

  <!-- Stylesheets -->
  <link href="css/style.css?v6" type="text/css" rel="stylesheet" id="style">
  <link href="css/components.css" type="text/css" rel="stylesheet" id="components">
  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143314091-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-143314091-1');
  </script>


  <script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "LocalBusiness",
"address": {
"@type": "PostalAddress",
"addressLocality": "Szczecin",
"addressRegion": "zachodniopomorskie",
"postalCode":"70-028",
"streetAddress": "Zygmunta Chmielewskiego 18"
},
"description": "Koala Kombucha - sklep w ofercie którego znajduje się prozdrowotny napój probiotyczny - kombucza - z mieszanki organicznych cherbat.",
"priceRange": "PLN",
"name": "Koala Kombucha",
"telephone": "607 343 756",
"openingHours": "Su 10:00-15:00",
"email": "kontakt@koala-kombucha.pl",
"url": "https://www.koala-kombucha.pl/",
"logo": "https://www.koala-kombucha.pl/images/logo.png",
"image": "https://www.koala-kombucha.pl/images/ananas.png",
"hasMap": "https://www.google.com/maps/place/Koala+Kombucha/@53.4025965,14.5325805,15z/data=!4m12!1m6!3m5!1s0x0:0x93a6066110d012d2!2sKoala+Kombucha!8m2!3d53.4025965!4d14.5325805!3m4!1s0x0:0x93a6066110d012d2!8m2!3d53.4025965!4d14.5325805",
"geo": {
"@type": "GeoCoordinates",
"latitude": "53.4025965",
"longitude": "14.5325805"
},
"sameAs" : [ "https://www.facebook.com/kombuchakoala/",
"https://instagram.com/koalakombucha/"]
}
</script>

</head>
<body data-spy="scroll" data-target="#navigation" data-offset="100">
<a class="navbar-brand" href="https://www.koala-kombucha.pl" id="logo-top">
  <img src="/images/logo.png" alt="Koala Kombucha" class="logo">
</a>
<header>
  <div class="container-fluid">
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-md navbar-light">
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <i class="ion-ios-more-outline"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="/#start" class="nav-link scroll-link">Produkty</a>
          </li>
          <li class="nav-item">
            <a href="/#o-co-chodzi" class="nav-link scroll-link">O co chodzi?</a>
          </li>
          <li class="nav-item">
            <a href="/#benefity" class="nav-link scroll-link">Benefity kombuchy</a>
          </li>
          <li class="nav-item">
            <a href="/#where-to-buy" class="nav-link scroll-link">Gdzie kupić</a>
          </li>
          <li class="nav-item">
            <a href="/o-koali-kombucha.html" class="nav-link">O nas</a>
          </li>
          <li class="nav-item">
            <a href="/blog/" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://sklep.koala-kombucha.pl" target="_blank" class="btn-menu nav-link scroll-link">Sklep</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="container-fluid mt-20">
  <div class="row">
    <div class="col-12"><p style="text-align: center;"><strong>Polityka prywatności</strong></p>
      <p style="text-align: center;"><strong>§ 1</strong></p>
      <ol>
        <li>Niniejsza Polityka Prywatności zawiera informacje dotyczące zasad przetwarzania i ochrony danych osobowych
          podmiotów korzystających z serwisu (zwanymi dalej: „Użytkownikami”) będącego własnością firmy Koala Kombucha,
          znajdującego się pod adresem www.koala-kombucha.pl (zwanym dalej „Serwisem”) oraz politykę plików
          cookies.
        </li>
        <li>Administratorem danych osobowych przekazanych przez Użytkowników jest Eliza Jurkowski, Koala Kombucha. z
          siedzibą w Szczecinie przy ul. Zawiła 17, 71-499 Szczecin, wpisana do ewidencji
          działalności CEIDG, REGON: 380104765, NIP: 852-240-74-14, zwany dalej „Administratorem”.
        </li>
        <li>Przetwarzanie danych osobowych odbywa się na zasadach określonych w ustawie z dnia 10 maja 2018 r. o
          ochronie danych osobowych oraz w Rozporządzeniu Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27
          kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
          swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie
          danych).
        </li>
        <li>Pozyskiwanie informacji o Użytkownikach Serwisu i ich zachowaniu odbywa się w następujący sposób:<br> (a)
          poprzez dane wprowadzone dobrowolnie przez Użytkowników w formularzach elektronicznych zamieszczonych w
          Serwisie (w tzw. sidebarach, formularzach kontaktowych oraz formularzach bezpłatnej wyceny) lub formularzach
          aplikacji internetowej live chat,<br> (b) poprzez zapisywanie w urządzeniach końcowych plików cookies (tzw.
          „ciasteczka”),<br> (c) poprzez gromadzenie logów serwera www przez operatora hostingowego.
        </li>
        <li>Serwis zbiera wyłącznie informacje dobrowolnie podane przez Użytkowników, przy czym Serwis może zbierać
          ponadto informacje o parametrach połączenia (czas, adres IP, przeglądarka).
        </li>
        <li>W serwisie wykorzystywany jest protokół szyfrowania komunikacji (SSL), którego celem jest zapewnienie
          najwyższych standardów bezpieczeństwa.
        </li>
      </ol>
      <p style="text-align: center;"><strong> § 2</strong></p>
      <ol>
        <li style="text-align: left;">Pliki cookies zwane także „ciasteczkami” są to pliki tekstowe zapisywane i
          przechowywane w pamięci urządzenia wykorzystywanego do przeglądania stron internetowych (np. komputer PC,
          notebook, tablet, palmtop, telefon komórkowy). Z plikami tymi, po ich zapisaniu, łączy się serwer albo serwery
          uzyskując do nich odpowiedni dostęp.
        </li>
        <li style="text-align: left;">Niniejsza strona internetowa www.koala-kombucha.pl oraz wszystkie jej podstrony
          oraz
          subdomeny korzystają z plików cookies wyłącznie w celach:<br> (a) tworzenia zbiorczych statystyk i analiz,
          które ułatwiają zrozumieć w jaki sposób używany jest Serwis oraz pomagają w jego rozwoju,<br> (b)
          optymalizacji stron internetowych pod kątem różnych urządzeń i przeglądarek,<br> (c) mierzenia skuteczności
          prowadzonych akcji i działań reklamowych, a także dopasowania treści i form reklam, wyświetlanych zarówno na
          stronie Serwisu jak i np. w sieci reklamowej Google (więcej szczegółów: <a
              href="https://support.google.com/adwords/answer/2407785" target="_blank" rel="noopener">https://support.google.com/adwords/answer/2407785</a>);
        </li>
        <p>W związku z powyższym część danych może być przekazywana za pośrednictwem narzędzi, z których korzystamy, do
          zewnętrznych partnerów. Partnerzy mogą natomiast połączyć te dane z innymi informacjami otrzymanymi od
          Użytkownika lub przesłanymi za pomocą narzędzi, z których sam korzysta. Poniżej znajduje się lista partnerów z
          którymi współpracujemy:</p>
        <ol>
          <li>Google Analytics (administrator cookies: Google Inc z siedzibą w USA),</li>
          <li>Google AdWords (administrator cookies: Google Ireland Limited z siedzibą w Irlandii),</li>
          <li>Facebook (administrator cookies: Facebook Ireland Limited z siedzibą w Irlandii),</li>
          <li>Hotjar (administrator cookies: Hotjar Limited z siedzibą na Malcie),</li>
          <li>Smarsupp (administrator cookies: Smartsupp.com, s.r.o. z siedzibą w Republice Czeskiej),</li>
          <li>Albacross (administrator cookies: Albacross Nordic AB z siedzibą w Szwecji.</li>
        </ol>
        <li style="text-align: left;">Na stronie internetowej Serwisu wykorzystywane są dwa rodzaje plików cookies:(a)
          sesyjne – pozostają na urządzeniu Użytkownika aż do opuszczenia strony internetowej lub wyłączenia
          przeglądarki internetowej; (b) stałe – pozostają na urządzeniu Użytkownika przez określony czas albo do
          momentu ich ręcznego usunięcia przez użytkownika.
        </li>
        <li style="text-align: left;">Poprzez zmianę ustawień oprogramowania wykorzystywanego do przeglądania niniejszej
          strony internetowej <a href="http://www.koala-kombucha.pl">www.koala-kombucha.pl</a> i jej podstron lub
          subdomen,
          istnieje możliwość określenia warunków przechowywania oraz warunków uzyskiwania dostępu do plików cookies
          wykorzystywanych przez tę stronę i jej podstrony, w szczególności możliwość całkowitego wyłączenia ich
          obsługi.
        </li>
        <li style="text-align: left;">W celu zmiany ustawień związanych z obsługą plików cookies należy odpowiednio
          skonfigurować oprogramowanie wykorzystywane do przeglądania niniejszej strony internetowej
          www.koala-kombucha.pl
          i jej podstron. Stosowne informacje w tym zakresie można uzyskać korzystając z pomocy technicznej dla takiego
          oprogramowania lub kontaktując się z jego dostawcą.
        </li>
        <li style="text-align: left;">Brak zmiany ustawień oprogramowania wykorzystywanego do przeglądania niniejszej
          strony internetowej <a href="http://www.koala-kombucha.pl">www.koala-kombucha.pl</a> i jej podstron, stanowi w
          myśl
          art. 173 ust. 2 Ustawy prawo telekomunikacyjne wyrażenie zgody na korzystanie przez tę stronę i jej podstrony
          z plików cookies w celach wyżej określonych.
        </li>
      </ol>
      <p style="text-align: center;"><strong>§ 3</strong></p>
      <ol>
        <li>Informacje o niektórych zachowaniach Użytkowników są zapisywane po stronie serwera. Dane te są
          wykorzystywane tylko i wyłącznie w celu administrowania serwisem oraz w celu zapewnienia wydajności hostingu.
        </li>
        <li>Przeglądane zasoby identyfikowane są poprzez adresy URL. Zapisowi mogą podlegać inne parametry takie jak
          czas nadejścia zapytania oraz wysłania odpowiedzi, napotkane błędy, informacja o adresie IP użytkownika oraz
          wykorzystywanej przez niego przeglądarce. Wszystkie zebrane dane nie są powiązane z konkretnymi osobami
          przeglądającymi Serwis, a ich wykorzystanie ma na celu tylko i wyłącznie efektywne administrowanie serwerem.
        </li>
      </ol>
      <p style="text-align: center;"><strong>§ 4</strong></p>
      <ol>
        <li>Przetwarzanie danych osobowych Użytkowników Serwisu, o których mowa w § 1 ust. 4 powyżej, następuje
          wyłącznie w celu, w jakim niniejsze dane zostały wprowadzone przez Użytkownika Serwisu do Serwisu za uprzednią
          jego zgodą, w tym:<br> a. w celu sporządzenia wyceny usługi i wysłania oferty handlowej,<br> b. w celu obsługi
          zgłoszenia, kontaktu lub udzielenia odpowiedzi na wiadomość przesłaną przez Użytkownika Serwisu;<br> c.
          wypełniania przez Administratora obowiązków, które nakładają na niego przepisy prawa,<br> d. wypełniania przez
          Administratora prawnie usprawiedliwionych celów (np. prowadzenia działań marketingowych), realizowanych przez
          Administratora albo odbiorców danych, które nie narusza praw i wolności osoby, które dane dotyczą.
        </li>
        <li>Odbiorcami danych osobowych Użytkowników Serwisu są podmioty współpracujące z Administratorem w zakresie
          niezbędnym do realizacji celów wskazanych w § 4 ust. 1 powyżej oraz podmioty przetwarzające dane w naszym
          imieniu, tj. podmioty obsługujące systemy informatyczne, podmioty świadczące usługi doradcze, usługi księgowe
          i prawne.
        </li>
        <li>Na podstawie niniejszej Polityki Prywatności Administrator będzie gromadził część lub wszystkie&nbsp;z
          danych wymienionych niżej:<br> a) imię i nazwisko,<br> b) nazwę firmy,<br> c) numer telefonu kontaktowego,<br>
          d) adres e-mail,<br> e) adresy IP,<br> f) adres www strony Użytkownika,<br> g) informacje komplementarne,
          dotyczące prowadzonego przez Użytkownika biznesu.
        </li>
        <li>Dostęp do danych osobowych mają wyłącznie osoby posiadające nadane przez Administratora upoważnienia.</li>
        <li>Na podstawie odpowiednich przepisów prawa, dane osobowe zgromadzone przez Administratora mogą być
          udostępnione odpowiednim organom państwa.
        </li>
        <li>Zgromadzone dane Użytkowników będą przechowywane jedynie tak długo, jak jest to dozwolone ze względów
          prawnych i regulacyjnych (w tym np. księgowo-rachunkowych) oraz niezbędne ze względu na usprawiedliwioną
          realizację celów wskazanych § 4 ust. 1.
        </li>
        <li>Administrator kontaktować się będzie z Użytkownikiem za pośrednictwem poczty elektronicznej, telefonu, lub
          poprzez aplikację internetową (live chat).
        </li>
        <li>Administrator jest odpowiedzialny za użycie odpowiednich środków technicznych i organizacyjnych mających na
          celu zapewnienie bezpieczeństwa danych przekazanych przez Użytkowników Serwisu, w szczególności
          uniemożliwiających dostęp do nich osobom trzecim lub ich przetwarzanie z naruszeniem przepisów prawa,
          zapobiegających utracie danych, ich uszkodzeniu lub zniszczeniu.
        </li>
        <li>Użytkownikom Serwisu przysługuje prawo do wniesienie skargi do organu nadzorczego, gdy uznają, że
          przetwarzanie danych narusza przepisy ogólnego rozporządzenia o ochronie danych osobowych z 17 kwietnia 2016
          r.
        </li>
        <li>Użytkownikom Serwisu przysługuje prawo dostępu do treści swoich danych osobowych oraz prawo ich sprostowana,
          ograniczenia przetwarzania danych, prawo do przenoszenia danych, usunięcia danych, prawo do wniesienia
          sprzeciwu oraz cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego
          dokonano na podstawie zgody przed jej cofnięciem.
        </li>
        <li>W razie wszelkich pytań, wątpliwości, zastrzeżeń lub reklamacji dotyczących polityki prywatności, a także w
          przypadku realizacji uprawnień opisanych powyżej prosimy o kontakt mailowy
          na adres <a href="mailto:kontakt@koala-kombucha.pl">kontakt@koala-kombucha.pl</a></li>
      </ol>
    </div>
  </div>
</div>


<!-- Footer -->
<div class="footer">
  <div class="footer-pri">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="footer-box about-box">
            <img src="images/logo.png" alt="Koala Kombucha" class="logo" style="max-width: 100px;">
            <br/><br/>
            <p style="font-size: 150%;">Koala Kombucha</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box links-box">
            <p class="heading" style="font-size: 150%;">Idź do</p>
            <ul>
              <li class="nav-item">
                <a href="/#start">Produkty</a>
              </li>
              <li class="nav-item">
                <a href="/#o-co-chodzi">O co chodzi?</a>
              </li>
              <li class="nav-item">
                <a href="/#benefity">Benefity kombuchy</a>
              </li>
              <li class="nav-item">
                <a href="/#where-to-buy">Gdzie kupić</a>
              </li>
              <li class="nav-item">
                <a href="/o-koali-kombucha.html" class="nav-link">O nas</a>
              </li>
              <li class="nav-item">
                <a href="/blog/index.html" class="nav-link">Blog</a>
              </li>
              <!--<li class="nav-item">-->
              <!--<a href="/sklep" target="_blank">Sklep</a>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box social-box">
            <p class="heading" style="font-size: 150%;">Kontakt</p>
            <ul class="contact">
              <li>kontakt@koala-kombucha.pl</li>
            </ul>
            <ul class="social">
              <li><a href="https://www.facebook.com/kombuchakoala/" rel="nofollow"><i class="ion-social-facebook"></i></a></li>
              <li><a href="https://instagram.com/koalakombucha/" rel="nofollow"><i class="ion-social-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-sec">            <!-- Secondary Footer -->
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2019 All rights reserved
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.Tether = function () {
    throw new Error('Your Bootstrap may actually need Tether.');
  };
</script>

<!-- JQuery Version 2.2.4 -->
<script src="js/jquery.min.js" ></script>

<!-- Bootstrap Version 3.3.7 -->
<script src="js/bootstrap.min.js" ></script>

<!-- Classie JS -->
<script src="js/classie.js" ></script>

<!-- Count To JS -->
<script src="js/jquery.countTo.js" ></script>

<!-- Appear Js -->
<script src="js/jquery.appear.js" ></script>

<!-- Smooth Scroll JS -->
<script src="js/smoothscroll.js" ></script>
<script src="js/script.js" ></script>


<script>
  $('.navbar-nav>li>a').on('click', function () {
    $('.navbar-collapse').collapse('hide');
  });
</script>

</body>

</html>
