<!-- Page Header -->
<header class="masthead" style="background-image: url('img/cukier.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kombucha a cukrzyca</h1>
          <h2 class="subheading">Czy Kombuchę mogą spożywać osoby chore na cukrzycę?</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Kwiecień 25, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Co piszą w internecie?</h2>
        <p>
          W sieci często można znaleźć pytania o możliwość stosowania kombuchy przez osoby z chorobami i dolegliwościami. Jeszcze częściej można spotkać się z nie popartymi faktami odpowiedziami “ekspertów” nie mających ewidentnie większej wiedzy na ten temat.
          <br/>
          Od czasu rozpoczęcia mojej kombuchowej przygody, zdążyłem się nauczyć o niej bardzo wiele. Dzięki własnym badaniom oraz dostępnym opracowaniom naukowym staram się stale rozwijać w tej kwestii, dążąc do poziomu eksperta.
          <br/>
          Jak więc odpowiedziałbym na pytanie o stosowanie kombuchy? Zawsze tak samo i mało satysfakcjonująco: to kwestia ściśle indywidualna.
          <br/>
          Szczególnie w przypadku osób chorych na cukrzycę, warto wybrać produkty o niskiej lub zerowej zawartości cukru.
          <br/>
          Abstrahując od wyboru konkretnego producenta, czy domowej produkcji - zakładając spożywanie jednakowego pod kątem składu napoju, musimy pamiętać że flora bakteryjna każdego z nas jest inna. Jest ona uzależniona od szeregu czynników w tym trybu życia, diety czy stresu. Osobną kwestią są leki czy suplementy diety które mają ogromny wpływ na nasz organizm.
          <br/>
          Część z nas poczuje działanie już po jednej butelce kombuchy, część po kilku dniach stosowania, a inni… nie poczują jej wcale.
          <br/>
          Dlatego, o ile nie ma ku temu naukowych przeciwwskazań polecam spróbować, i obserwować własne samopoczucie i kontrolować poziom cukru.
        </p>

        <p>
          <a href="#">
            <img src="img/laboratorium.jpg" class="w-100" alt="Badania laboratoryjne"/>
          </a>
          <span class="caption text-muted">Badania jak narazie są nieliczne</span>
        </p>

        <h2 class="section-heading">Kilka konkretów</h2>
        <p>
          Podczas swoich poszukiwań wiedzy kombuchowej natrafiłem natomiast na bardzo ekscytujące badania przeprowadzone przez grupę naukowców z University of Sfax w Turcji. Przeprowadzone w 2012 roku badania miały sprawdzić wpływ róznych napojów (w tym kombuchy) na zarządzanie poziomem cukru u szczurów zarażonych cukrzycą typu 2.
          <br/>
          Opublikowane wyniki potwierdziły, że kombucha jest jednym z lepszych inhibitorów aktywności α-amylazy i lipazy w osoczu i trzustce oraz bardzo dobrym supresorem podwyższonego poziomu glukozy we krwi.
          <br/>
          Po ludzku, oznacza to pozytywny wpływ spożywania kombuchy u szczurów z cukrzycą. Szczególnie pod kątem funkcji wątroby i nerek.
          <br/>
          Nie oznacza to oczywiście, że kombucha automatycznie pomoże każdemu choremu na cukrzycę - potwierdza jedynie że po wykonaniu szeregu dodatkowych badań i testów, być może zostanie w przyszłości wykorzystana jako funkcjonalny suplement w leczeniu i zapobieganiu cukrzycy.
        </p>
      </div>
    </div>
  </div>
</article>
