<!-- Page Header -->
<header class="masthead" style="background-image: url('img/silownia.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kombucha na diecie</h1>
          <h2 class="subheading">Na jakiej diecie można pić kombuchę</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Styczeń 15, 2019</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Na jakiej diecie można spożywać kombuchę?</h2>
        <p>
          Jako, że <b>kombucha (kombucza)</b> sama w sobie to sfermentowana herbata, nie widzimy zbyt wielu
          przeciwskazań w kwestii kompatybilności kombuchy z Twoją dietą. Jeśli Twoim celem jest
          zrzucenie wagi lub ogólnie mówiąc dobre samopoczucie, w takim wypadku jako, że Koala Kombucha
          ma zwykle okolo 0.5g cukru na 100ml napoju, nie musisz się przejmować ani kaloriami, ani ewentualnym
          wybiciem z diety ketogenicznej.
        </p>

        <p>
          <a href="#">
            <img src="img/silownia2.jpg" class="w-100" alt="Kombucha na diecie"/>
          </a>
          <span class="caption text-muted">Kombucha wspomaga trawienie i można ją pić na niemal każdej diecie</span>
        </p>

        <h2 class="section-heading">Jestem weganką/weganinem, czy mogę pić kombuchę?</h2>
        <p>
          Jak najbardziej. Do produkcji naszej kombuchy, używamy certyfikowanych eko surowców.
          Skład naszej kombuchy, to: woda, cukier, herbata, kultury bakterii (scoby),
          sfermentowana glukoza, wyciąg z liści stewii i naturalne aromaty owocowe.
          Nie ma tu jakichkolwiek składników pochodzenia zwierzęcego.
        </p>
        <p>
          To nie koniec. Surowa niepasteryzowana <b>kombucha</b>, którą produkujemy w jednej butelce
          zapewni ci około 20% dziennego zapotrzebowania na witaminy B1, B2, B3, B6 i B12.
          Ponadto, dzięki fermentacji grzybka herbacianego, <a href="https://www.koala-kombucha.pl/">kombucza</a> zawiera łatwo przyswajalne żelazo.
          No i oczywiście, prawdziwa niepasteryzowana kombucha jest fenomenalnym źródłem probiotyków.
        </p>

        <h2 class="section-heading">
          Czy kombucha jest kompatybilna z paleo?
        </h2>
        <p>
          Tak! jednym z założeń diety paleo jest odbudowa poprawnego funkcjonowania jelit,
          które odpowiadają nie tylko za układ trawieny ale również układ odpornościowy.
          Jako, że niepasteryzowana kombucha, to źródło naturalnych probiotyków, regularne jej spożywanie,
          jest wręcz zalecane na diecie paleo.
        </p>

        <h2 class="section-heading">Jak to, przecież w kombuczy jest cukier?</h2>
        <p>
          Zgadza się, przykładamy jednak do tego bardzo dużą wage, żeby w naszej kombuchy został wyfermentowany,
          właściwie cały cukier. Nasza metoda fermentacji z użyciem bakterii SCOBY, pozwala nam na produkcję
          kombuchy, która zwykle ma około 0.5g cukru na 100ml. To jest 1.5g cukru w butelce 330ml.
          Dla porównania, marchewka, na 100g zawiera 4.74g cukru.
        </p>

        <h2 class="section-heading">Jestem weganką/weganinem, czy mogę pić kombuchę?</h2>
        <p>
          Jak najbardziej. Do produkcji naszej kombuchy, używamy certyfikowanych eko surowców.
          Skład naszej kombuchy, to: woda, cukier, herbata, kultury bakterii (scoby),
          sfermentowana glukoza, wyciąg z liści stewii i naturalne aromaty owocowe.
          Nie ma tu jakichkolwiek składników pochodzenia zwierzęcego.
        </p>
        <p>
          To nie koniec. Surowa niepasteryzowana <b>kombucha</b>, którą produkujemy w jednej butelce
          zapewni ci około 20% dziennego zapotrzebowania na witaminy B1, B2, B3, B6 i B12.
          Ponadto, dzięki fermentacji grzybka herbacianego, kombucza zawiera łatwo przyswajalne żelazo.
          No i oczywiście, prawdziwa niepasteryzowana kombucha jest fenomenalnym źródłem probiotyków.
        </p>

        <h2 class="section-heading">
          Czy kombucha jest kompatybilna z keto?
        </h2>
        <p>
          Tak, ale nie każda. Jeśli samemu fermentujesz w domu kombuczę, to może być ci trudno uzyskać niskie
          stężenie cukru. Jeśli kupujesz kombuche w sklepie, wiadomo - wystarczy sprawdzić zawartość cukru na etykiecie
          i wszystko będzie jasne. Większość kombucz dostępnych na polskim rynku nie jest kompatybilna z keto. Często
          zawierają one po 5g lub wiecej cukru na 100ml.
        </p>
        <p><b>Koala Kombucha</b> jest w 100% kompatybilna z keto.
          Nasza metoda fermentacji przy użyciu bakterii SCOBY, pozwala nam na produkcję
          kombuchy, która zwykle ma około 0.5g cukru na 100ml. To jest 1.5g cukru w butelce 330ml.
          Biorąc pod uwagę, że na diecie ketogenicznej, nie chcesz spożywać dziennie więcej niż 40g
          węglowodanów złożonych, wypicie jednej butelki naszej kombuchy, zostawia ci jeszcze spory zapas
          dziennego spożycia węglowodanów.
        </p>
      </div>
    </div>
  </div>
</article>
