<!-- Page Header -->
<header class="masthead" style="background-image: url('img/las.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Historia kombuchy</h1>
          <h2 class="subheading">Historia kombuchy pokrótcę. Skąd wzięła się kombucha?</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Marzec 20, 2019</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Trochę o pochodzeniu i historii kombuchy</h2>
        <p>
          W obecnych czasach większości z nas napoje gazowane kojarzą się z colą czy spritem, a co ciekawe
          napoje te zostały opracowane tuż przed początkiem XX wieku. Natomiast w samej Polsce cola pojawiła się
          na rynku w latach 1970tych. Co do kombuchy, to szacuje się, że zaczęto ją pić w okresie przypadającym między
          latami 1600 a 200 przed Chrystusem! Pomimo tego od jak dawna ludzie spożywają kombuchę, cola drastycznie
          przebija ją w zarówno naszym w kraju jak i na świecie pod względem popularności.
          Jak to możliwe, że niemal nic nie wiesz o kombuchy, natomiast cole znasz od zawsze?
          Postaram, się tu pokrótce streścić historię kombuchy i odpowiedzieć na to pytanie.
        </p>

        <p>
          <a href="#">
            <img src="img/herbata-zielona-kombucha.jpg" class="w-100" alt="Zielona herbata, grzybek herbaciany"/>
          </a>
          <span class="caption text-muted">Wg. doniesień historykow, kombucha może być nam znana prawie równie długo jak herbata</span>
        </p>

        <h2 class="section-heading">Początki kombuchy w starożytnych Chinach i Japonii</h2>
        <p>
          Wszystko zaczęło się w kraju, z którego pochodzi jedyna wciąż praktykowana tradycyjna medycyna - Chin.
          Sama herbata była znana w starożytnych Chinach prawdopodobnie już w XVw. przed Chrystusem,
          co może wskazywać na to, że w tym okresie, zaczęto również rozwijać kombuchę.
          Jeśli chodzi o potwierdzone informacje, to większość źródeł w internecie donosi,
          że istnieją dokumenty datowane na okres sprawowania władzy przez dynastię Qin (lata 221-206 BC),
          które odwołują się do niejakiego Eliksiru Wiecznego Życia, tudzież Herbaty Nieśmiertelności,
          pod którymi też nazwami znana jest w Chinach kombucha.
          Mówi się, że kombucha dotarła do Japonii w okresie sprawowania tam władzy przez dynastię
          Kofun (lata 250 - 538 naszej epoki). Istnieją doniesienia, o Koreańskim lekarzu, który dotarł do
          Japonii i wyleczył problemy trawienne ówczesnego cesarza, przy pomocy napoju herbacianego z magicznym grzybem.
        </p>

        <h2 class="section-heading">
          Dzieje kombuchy w Europie
        </h2>
        <p>
          Przyjmuje się, że wraz z powstaniem jedwabnego szlaku (rok 130 BC) i rozwojem handlu pomiędzy
          Chinami a Europą, dotarła do nas herbata, a wraz z nią też grzyb herbaciany. O ile nacje Europy
          Zachodniej od zawsze sceptycznie podchodziły do produktów spożywczych, które mają oznaki zepsucia,
          o tyle w tradycji słowiańskiej, od zawsze związani jesteśmy z wszelkiego rodzaju produktami
          fermentowanymi, jak np. ogórki kiszone, czy kwas chlebowy.
          Dlatego, też kombucha, docierając do nas z Chin, została szybko zaadaptowana i spopularyzowana
          wśród narodów słowiańskich. W Rosji tzw. “čajnyj grib”, czyli “grzyb herbaciany” znany i pity jest
          od wielu pokoleń.
        </p>

        <p>
          <a href="#">
            <img src="img/sloiki-kombucha-scoby.jpg" class="w-100" alt="Kombucha - SCOBY"/>
          </a>
          <span class="caption text-muted">W naszej kulturze przez lata znana była herbata z grzybkiem</span>
        </p>

        <h2 class="section-heading">Czasy nowożytne</h2>
        <p>
          Zdaje się, że najlepszym odniesieniem w kwestii nowożytnej historii kombuchy, będzie Rosja, w której to
          dopiero w latach 1980 wprowadzono na rynek colę. Jak już wcześniej wspomnieliśmy, podobnie sytuacja miała się w Polsce,
          gdzie dopiero w latach 70tych wprowadzono cole do sklepów. Do tego czasu, jedyne gazowane napoje,
          które właściwie na całym terenie byłego związku radzieckiego były znane to kwas chlebowy oraz kombucza.
          Część z naszych babć/dziadków, trzymała na parapecie albo stole kuchennym słoiki z herbatą i plastrem pływającej na
          wierzchu glutowatej substancji, a po przeprowadzeniu kilkutygodniowej fermentacji, piła otrzymany musujący napój.
          Po wejściu na rynek produktów wywodzących się z USA, tradycyjne słowiańskie “domowe” wyroby zaczęły stawać się coraz mniej modne.
          Coraz większa część społeczeństwa zaczynała łaknąć zarówno smaku jak i zachodniego stylu życia, które były
          odskocznią od szarej post-socjalistycznej rzeczywistości.
          Ostatecznie, koncerny, które weszły na polski rynek, zdołały w przeciągu jednego pokolenia - pięćdziesięciu
          lat - całkowicie wyprzeć z naszej kultury, napój, który przez setki lat, aż do jeszcze niedawna był regularnie
          spożywany w Europie centralnej i wschodniej - kombuchę.
        </p>
      </div>
    </div>
  </div>
</article>
