<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog Koala Kombucha</h1>
          <span class="subheading">
              Wszystko o kombuchy w Polsce i nie tylko.
            </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="/blog/kombuchowe-vademecum.html">
          <h2 class="post-title">
            Kombuchowe Vademecum
          </h2>
          <h3 class="post-subtitle">
            Garść porad dla domowych siewców dobrego fermentu
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Maj 18, 2020
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/kombucha-na-redukcji.html">
          <h2 class="post-title">
            Kombucha na redukcji
          </h2>
          <h3 class="post-subtitle">
            Czy Kombuchę można pić na redukcji?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Kwiecień 30, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/cukrzyca-a-kombucha.html">
          <h2 class="post-title">
            Kombucha a cukrzyca
          </h2>
          <h3 class="post-subtitle">
            Czy Kombuchę mogą spożywać osoby chore na cukrzycę?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Kwiecień 25, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/kombucha-na-swiecie.html">
          <h2 class="post-title">
            Co kraj to kombucha
          </h2>
          <h3 class="post-subtitle">
            Czy wszędzie robi się kombuchę tak samo?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Kwiecień 7, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/wzmacnianie-odpornosci-probiotyki.html">
          <h2 class="post-title">
            Wzmacnianie odporności przez… dobre bakterie?
          </h2>
          <h3 class="post-subtitle">
            Trochę o tym jaki wpływ na Twoją odporność mają jelita
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Marzec 29, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/jak-zrobic-kombuche-w-domu.html">
          <h2 class="post-title">
            Jak zrobić kombuchę
          </h2>
          <h3 class="post-subtitle">
            Czyli domowy sposób na kombuchę
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Styczeń 13, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/jakie-bakterie-w-kombuchy.html">
          <h2 class="post-title">
            Kultury bakterii w kombuchy
          </h2>
          <h3 class="post-subtitle">
            Jakie kultury bakterii znajdują się w kombuchy?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Listopad 10, 2019</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/historia-kombucha.html">
          <h2 class="post-title">
            Historia kombuchy
          </h2>
          <h3 class="post-subtitle">
            Historia kombuchy pokrótcę. Skąd wzięła się kombucha?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Marzec 20, 2019</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/prawdziwa-vs-pseudo-kombucha.html">
          <h2 class="post-title">
            Prawdziwa vs pseudo kombucha
          </h2>
          <h3 class="post-subtitle">
            Jak rozponać dobrej jakości kombuchę, oraz jak rozpoznać pseudo-kombuchę
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Luty 1, 2019</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/dieta-kombucha.html">
          <h2 class="post-title">
            Kombucha na diecie
          </h2>
          <h3 class="post-subtitle">
            Na jakiej diecie można pić kombuchę
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Styczeń 15, 2019</p>
      </div>
      <hr>
    </div>
  </div>
</div>
