<!-- Page Header -->
<header class="masthead" style="background-image: url('img/domowa_kombucha.jpeg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Jak zrobić kombuchę</h1>
          <h2 class="subheading">Czyli domowy sposób na kombuchę</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Styczeń 13, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Jak powstaje kombucha</h2>
        <p>
          <b>Kombucha (czyt. kombucza)</b>, to nic innego jak fermentowana herbata. Jeśli zastanawiasz się,
          czy i jak możesz zrobić w domowych warunkach kombuchę, to czytaj dalej :)
        </p>

        <p>
          <a href="#">
            <img src="img/domowa-kombucha-butelki.jpg" class="w-100" alt="Kombucha w butelkach"/>
          </a>
          <span class="caption text-muted">Kombucha domowej roboty</span>
        </p>

        <h2 class="section-heading">Co będę potrzebować?</h2>
        <p>
          Na początek upewnij się, że masz wszystkie elementy z poniższej listy:<br/>
          <ul>
            <li>8 torebek czarnej herbaty</li>
            <li>3 litry wody</li>
            <li>200g cukru</li>
            <li>grzybek fermentacji (SCOBY)</li>
            <li>słoik 5 litrowy</li>
            <li>Szmatka materiałowa i gumka recepturka</li>
          </ul>
        </p>

        <h2 class="section-heading">
          Teraz szybkie wyjaśnienie, do czego potrzebujesz powyższe rzeczy...
        </h2>
        <p><ul>
        <li>
          Czarna herbata - jest to odmiana herbaty, która wykazuję największą tolerancję jeśli chodzi o warunki fermentacji.
          Z tego też powodu polecamy ją każdemu początkującemu amatorowi fermentacji kombuchy.
          Jeśli chcesz, możesz oczywiścię użyć dowolnego innego typu herbaty,
          jednak w takim wypadku regularnie kontroluj, jak przebiegają procesy fermentacji w Twoim słoiku.
        </li>
        <li>
          Cukier - najlepiej zwykły rafinowany biały cukier. Podobnie jak czarna herbata, gwarantuje on najstabilniejszą fermentację.
          Oczywiście, możesz użyć innych odmian cukru a nawet soku, oraz wg. własnych preferencji korygować ilość cukru jaką
          początkowo dodajesz. Jeśli jednak jest to Twoje pierwsze podejście, 200g cukru na 3l wody, powinno ci dać bardzo wysoką
          szansę na powodzenie. Nie nastawiaj się jednak na to, że zdołasz z łatwością wyfermentować cały cukier. Jest to bardzo trudne do
          osiągnięcia w domowych warunkach.
        </li>
        <li>
          Grzybek fermentacji SCOBY - Czyli symbiotyczne bakterie, "zjadające" cukier i przetwarzające go na dobre kwasy organiczne.
          Najłatwiej jest go zdobyć na allegro, gumtree, lub popytać wśród znajomych.
        </li>
        <li>
          Woda i słoik - Co tu dużo mówić, do zaparzenia herbaty potrzeba wody, a do jej fermentacji słoika.
          Dobrze by było, żeby w słoiku było jeszcze trochę miejsca po zalaniu go herbatą i włożeniu do niego grzybka SCOBY.
        </li>
        <li>
          Szmatka i gumka - będziesz ich potrzebować do przkyrycia słoika.
        </li>
      </ul></p>


        <h2 class="section-heading">Mam wszystkie rzeczy niezbędne do zrobienia kombuchy. Co dalej?</h2>
        <p>
          Przepis jest następujący:
          <ol>
            Zaparz herbatę w słoiku (upewnij się, że Twój słoik wytrzyma wysoką temepraturę)
          </ol>
          <ol>
            Dodaj do gorącej herbaty cukier
          </ol>
          <ol>
            Zamieszaj cukier, aż się rozpuści
          </ol>
          <ol>
            Poczekaj, aż herbata ostygnie do temperatury pokojowej
          </ol>
          <ol>
            Włóż do słoika z herbatą grzybek fermentacji SCOBY i wlej razem z nim, wszelkie "soki" kombuchowe, w których dotychczas pływał
          </ol>
          <ol>
            Załóż na słoik szmatę, i zapnij go gumką recepturką w okoł gwintu na zakrętkę
          </ol>
          <ol>
            Odstaw słoik z Twoim zaczynem kombuchy do ciemnego pomieszczenia, w którym temperatura nie spada poniżej 18C
          </ol>
          <ol>
            Co kilka dni próbuj Twojej kombuchy. Jak stwierdzisz, że jest dobra, to przelej ją do butelek i włóż do lodówki.
            <b>Pamiętaj</b>, że jeśli będziesz fermentować kombuchę zbyt długo, to zamieni się ona w <b>ocet</b> :)
          </ol>
        </p>
      </div>
    </div>
  </div>
</article>
