<!-- Page Header -->
<header class="masthead" style="background-image: url('img/biegaczka.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kombucha na redukcji</h1>
          <h2 class="subheading">Czy Kombuchę można pić na redukcji?</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Kwiecień 30, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Czy kombucha jest sprzymierzeńcem osób chcących zrzucić zbędne kilogramy?</h2>
        <p>
          Odpowiedź na zadanie jest prosta: Tak Koala Kombucha, jest SPRZYMIERZEŃCEM. Niestety, już hamuję Twój entuzjazm - picie Koalki podczas redukcji nie pozwoli Ci uniknąć ćwiczeń czy diety jeśli chcesz uzyskać realne efekty.
<br/>
          Nie zmienia to faktu że już w 2008 roku naukowcy z uniwersytety w Maastricht w Holandii potwierdzili w badaniach klinicznych, że osoby otyłe przyjmujące ekstrakt z zielonej herbaty spalały więcej kalorii, i gubiły więcej kilogramów niż te, które go nie przyjmowały.
          <br/>
          Badania te zachęciły naukowców do poszukiwania kolejnych pozytywnych skutków picia zielonej herbaty oraz produktów pochodnych. W kolejnych latach dowiedzieliśmy się m.in. że:
          <ul>
          <li>zielona herbata ma pozytywny wpływ na regulację poziomu cukru we krwi</li>
        <li>wzmacnia nasz system odpornościowy</li>
        <li>przyspiesza regenerację organizmu</li>
        <li>pomaga utrzymać zdrową skórę</li>
        <li>ma pozytywny wpływ na wątrobę</li>
        <li>poprawia kondycję mózgu</li>
      </ul>
        <br/>
          Koala Kombucha zrobiona jest mieszanki zielonych herbat poddanych długiej fermentacji, dzięki czemu jest bogata w witaminy, bakterie i kwasy wspomagające pracę naszego organizmu.
        <br/>
          Tak więc… Na zdrowie!
      </div>
    </div>
  </div>
</article>
