<!-- Page Header -->
<header class="masthead" style="background-image: url('img/vandemecum.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kombuchowe Vademecum</h1>
          <h2 class="subheading">Garść porad dla domowych siewców dobrego fermentu</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Maj 18, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Włączenie kombuchy do swojej diety z pewnością niesie za sobą bardzo pozytywne skutki. Co jednak, jeśli
          chcielibyśmy samodzielnie przygotować ją w domu?
          <br/>Na co zwrócić uwagę? Odpowiadamy.
        </p>

        <h2 class="section-heading">1. Skąd wziąć SCOBY?</h2>
        <p>
          W jednym z poprzednich artykułów opisywałem jak można przygotować domową kombuchę.<br/>
          Najprostszym sposobem na zdobycie SCOBY jest oczywiście zamówienie go online na serwisach aukcyjnych, bądź
          stronie sklepu internetowego.
          <br/>
          Jeśli jednak chcecie podnieść poziom trudności, możecie również wychodować własny SCOBY z jakiejkolwiek
          niepasteryzowanej kombuchy, np. Koala Kombucha. W tym celu wystarczy zalać szklankę o możliwie szerokiej
          średnicy napojem do mniej więcej połowy, dodać cukru, przykryć gazą i poczekać około tygodnia na pojawienie
          się galaretowatej błony która jest właśnie naszym nowym SCOBY.
        </p>

        <h2 class="section-heading">
          2. Czy można używać metalu?
        </h2>
        <p>
          Rozpoczynając moją przygodę z kombuchą szybko dowiedziałem się z eksperckich forów że przy produkcji kombuchy
          należy unikać kontaktu napoju,
          czy nawet herbaty z metalem… Czy to prawda? Nie - metale faktycznie mogą reagować z bakteriami zawartymi w
          kombuchy ale wymaga to przede wszystkim czasu.
          <br/>Stosowanie łyżek czy sitek ze stali nierdzewnej przeznaczonej do produktów spożywczych nie zaszkodzi
          Twojemu SCOBY tak długo jak nie zostawisz łyżki w dzbanku z nowym nastawem na kilka godzin.
          Możesz swobodnie korzystać z łyżki stołowej do rozmieszania cukru, czy wyciągnięcia SCOBY ze słoika.
        </p>

        <p>
          <a href="#">
            <img src="img/kombucha-vandemecum.jpg" class="w-100" alt="Kombucha"/>
          </a>
          <span class="caption text-muted">Zdrowy grzybek SCOBY</span>
        </p>

        <h2 class="section-heading">3. Temperatura</h2>
        <p>
          Pamiętaj, żeby ostudzić herbatę zanim dodasz do niej grzybka i kombuchę z poprzedniej partii - w
          przeciwieństwie do metalu, wysoka temperatura zabije wszystko co dobre w Twoim napoju w mgnieniu oka!
          <br/>Dlatego, zawsze poczekaj aż herbata osiągnie temperaturę co najmniej 25 stopni.
        </p>

        <h2 class="section-heading">4. “Dziwne” zachowanie SCOBY</h2>
        <p>
          Grzybek w Twojej kombuchy może unosić się na wierzchu, opaść na dno lub dotykać jednej ze ścian słoika - nie
          ma powodów do obaw.<br/>
          Tak samo w przypadku strzępków kombuchy zbierających się poniżej grzybka lub przy dnie słoika.<br/>
          SCOBY może zapaść się w środku jakby był bajglem, może mieć guzki, ciemniejsze brązowe placki czy płaty o
          nieco innej konsystencji - nadal jest zdatny do użycia.
        </p>

        <h2 class="section-heading">5. Wąchaj swoją kombuchę</h2>
        <p>
          Kombucha ma niezawodny sposób aby zakomunikować Ci że coś jest nie tak - zapach.<br/>
          Na początkowym etapie fermentacji, kombucha będzie miała neutralny zapach, zyskując z biegiem czasu na
          octowości.<br/>
          Jeśli wyczuwasz nieprzyjemny zapach różniący się znacząco od tego co czułeś zaraz po wstawieniu kombuchy, może
          to być znak że popełniłeś po drodze błąd.<br/>
          Obejrzyj dokładnie SCOBY - jeśli nie zauważysz śladów pleśni, wylej nastawioną kombuchę, opłucz grzybka ciepłą
          (ale nie gorącą!) wodą i zacznij od początku.<br/>
          Jeśli zauważysz ślady pleśni - pozbądź się wszystkiego i powtórz z nowymi składnikami.
        </p>

        <h2 class="section-heading">6. Czarny SCOBY odpada</h2>
        <p>
          Każda kolejna partia kombuchy powinna skutkować pojawieniem się nowego grzybka narastającego na poprzednim.
          Kest to proces naturalny - SCOBY czasem będą złączone, czasem niezależne, możesz je używać naraz do tej samej
          partii, lub rozdzielić do eksperymentów smakowych w poszukiwaniu idealnej kombuchy.
          <br/>
          Z czasem, grzybek zacznie czernieć co jest u niego oznaką starości - w momencie w którym osiągnie intensywną
          barwę zalecamy wyłączyć go z domowej produkcji.
          <br/>
          Aby wydłużyć życie Twojego grzybka, staraj się utrzymywać możliwie stałą proporcję cukru, kombuchy, herbaty i
          wody przy każdym kolejnym nastawie.
        </p>
      </div>
    </div>
  </div>
</article>
