<!-- Page Header -->
<header class="masthead" style="background-image: url('img/sloik.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>O kombuchy w Polsce</h1>
          <h2 class="subheading">Jak rozponać dobrej jakości kombuchę, oraz jak rozpoznać pseudo-kombuchę</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Luty 1, 2019</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Dostępność Kombuchy w Polsce</h2>
        <p>
          Na polskim rynku znaleźć można kilka brandów kombuchy, jednak część z firm oferuje produkty,
          "kombuchopodobne", które z kombuchą mają niewiele wspólnego, a są po prostu kolejną odsłoną oranżady z cukrem.
          Niestety, z powodu braku regulacji, produkty te są nazywane przez producentów kombuchą i tak też oznaczone
          na etykietach produktu.
        </p>
        <h2 class="section-heading">Jak rozpoznać czy kupuję kombuchę, czy zwykły napój gazowany, który producent nazwał
          kombuchą?</h2>
        <p>
          Zacznijmy może od tego, co sprawia, że <a href="https://www.koala-kombucha.pl/">kombucha</a> jest wyjątkowa.
          Kluczową cechą kombuchy jest fakt, że jest to <b>fermentowany napój pełen naturalnie wytwarzanych dobrych
          bakterii - probiotyków.</b>
          To właśnie probiotyki zawarte w kombuchy sprawiają, że z dnia na dzień twoje trawienie się poprawia
          i zaczynasz czuć się coraz lepiej.
        </p>
        <p>
          Ok, ale jak probiotyki mają się do sprzedaży pseudo-kombuchy?
          Probiotyki, tak jak i wszelkie inne bakterie są zabijane w procesie pasteryzacji.
          Jeśli nie wiesz, pasteryzacja to nic innego jak podgrzewanie cieczy (w tym wypadku kombuchy),
          do temp. około 100C. Celem tego procesu jest wybicie wszystkich bakterii istniejących w napoju w celu
          przedłużenia jego terminu przydatności do spożycia. Jeśli produkt, który kupujesz nie jest oznaczony jako
          produkt
          niepasteryzowany, to znaczy, że wszystko co dobre w "kombuchy", którą trzymasz w dłoni zostało z niej
          wygotowane
          i efektywnie kupujesz herbatę z dodatkiem CO2 i cukru.
        </p>
        <h2 class="section-heading">
          Sprawdzaj skład kombuchy
        </h2>
        <p>
          W skład kombuchy przede wszystkim <b>muszą</b> wchodzić <b>kultury kombuchy (tzw. scoby)</b>,
          jeśli na butelce kombuchy, którą chcesz kupić nie ma kultur kombuchy, znajdują się natomiast wszelkiego
          typu "ekstrakty z kombuchy", czy też "zagęszczacze/zagęszczone herbaty/regulatory" i inne tego typu dodatki,
          najprawdopodobniej, znowu masz do czynienia z ładnie zapakowaną i oznaczoną oranżadą, która z kombuchą ma
          niewiele wspólnego i jedyny efekt jaki będzie mieć na twoje ciało, to podniesienie w nim poziomu cukru.
        </p>

        <p>
          <a href="#">
            <img src="img/scoby2.jpg" class="img-fluid" alt="Grzybek (bakterie) fermentacji kombuchy"/>
          </a>
          <span class="caption text-muted">Grzybek fermentacji (scoby)</span>
        </p>

        <p>
          Analogicznie, jak kupujesz (lub robisz!) ogórki kiszone, to jak sama nazwa wskazuje, musiały one kiedyś
          zostać ukiszone. Kiszenie ogórków odbywa się poprzez ich fermentację w słoiku, dzięki czemu produkt końcowy
          zawiera kultury dobrych bakterii.<br?
          Co jednak, jeśli ogórki kiszone, które kupujesz, tak na prawdę nie zostały nigdy zakiszone, a zamiast tego
          ktoś po prostu włożył do wody ogórki, dolał trochę octu, cukru, ekstraktu z kopru, dosypał kilka witamin
          kupionych w aptece, zamknął słoik, podgrzał go do około 100C i zaetykietował słoik jako ogórki kiszone?
          Czy nazwałbyś taki produkt ogórkami kiszonymi?
        </p>
        <h2 class="section-heading">
          Podsumowanie
        </h2>
        <p>
          Jest na polskim rynku, kilku producentów, którzy wytwarzają prawdziwą kombuchę, w tym <b>Koala Kombucha</b>.
          Nie ma ich jednak wielu. Większość produktów opisanych jako kombucha, ma niestety bardzo wątpliwy skład
          i proces wytwarzania. Jeśli chcesz mieć pewność, że kupujesz prawdziwą kombuchę, sprawdzaj etykiety produktów,
          patrz na skład i na opis czy produkt jest pasteryzowany. Dobrym wykładnikiem jakości kombuchy, którą kupujesz,
          może być również obecność certyfikatu BIO na etykiecie produktu.
        </p>
      </div>
    </div>
  </div>
</article>

<hr>
