<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Czy Kombuchę mogą spożywać osoby chore na cukrzycę? - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Koala Kombucha - Kombucha a cukrzyca</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/cukier.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kombucha a cukrzyca</h1>
          <h2 class="subheading">Czy Kombuchę mogą spożywać osoby chore na cukrzycę?</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Kwiecień 25, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Co piszą w internecie?</h2>
        <p>
          W sieci często można znaleźć pytania o możliwość stosowania kombuchy przez osoby z chorobami i dolegliwościami. Jeszcze częściej można spotkać się z nie popartymi faktami odpowiedziami “ekspertów” nie mających ewidentnie większej wiedzy na ten temat.
          <br/>
          Od czasu rozpoczęcia mojej kombuchowej przygody, zdążyłem się nauczyć o niej bardzo wiele. Dzięki własnym badaniom oraz dostępnym opracowaniom naukowym staram się stale rozwijać w tej kwestii, dążąc do poziomu eksperta.
          <br/>
          Jak więc odpowiedziałbym na pytanie o stosowanie kombuchy? Zawsze tak samo i mało satysfakcjonująco: to kwestia ściśle indywidualna.
          <br/>
          Szczególnie w przypadku osób chorych na cukrzycę, warto wybrać produkty o niskiej lub zerowej zawartości cukru.
          <br/>
          Abstrahując od wyboru konkretnego producenta, czy domowej produkcji - zakładając spożywanie jednakowego pod kątem składu napoju, musimy pamiętać że flora bakteryjna każdego z nas jest inna. Jest ona uzależniona od szeregu czynników w tym trybu życia, diety czy stresu. Osobną kwestią są leki czy suplementy diety które mają ogromny wpływ na nasz organizm.
          <br/>
          Część z nas poczuje działanie już po jednej butelce kombuchy, część po kilku dniach stosowania, a inni… nie poczują jej wcale.
          <br/>
          Dlatego, o ile nie ma ku temu naukowych przeciwwskazań polecam spróbować, i obserwować własne samopoczucie i kontrolować poziom cukru.
        </p>

        <p>
          <a href="#">
            <img src="img/laboratorium.jpg" class="w-100" alt="Badania laboratoryjne"/>
          </a>
          <span class="caption text-muted">Badania jak narazie są nieliczne</span>
        </p>

        <h2 class="section-heading">Kilka konkretów</h2>
        <p>
          Podczas swoich poszukiwań wiedzy kombuchowej natrafiłem natomiast na bardzo ekscytujące badania przeprowadzone przez grupę naukowców z University of Sfax w Turcji. Przeprowadzone w 2012 roku badania miały sprawdzić wpływ róznych napojów (w tym kombuchy) na zarządzanie poziomem cukru u szczurów zarażonych cukrzycą typu 2.
          <br/>
          Opublikowane wyniki potwierdziły, że kombucha jest jednym z lepszych inhibitorów aktywności α-amylazy i lipazy w osoczu i trzustce oraz bardzo dobrym supresorem podwyższonego poziomu glukozy we krwi.
          <br/>
          Po ludzku, oznacza to pozytywny wpływ spożywania kombuchy u szczurów z cukrzycą. Szczególnie pod kątem funkcji wątroby i nerek.
          <br/>
          Nie oznacza to oczywiście, że kombucha automatycznie pomoże każdemu choremu na cukrzycę - potwierdza jedynie że po wykonaniu szeregu dodatkowych badań i testów, być może zostanie w przyszłości wykorzystana jako funkcjonalny suplement w leczeniu i zapobieganiu cukrzycy.
        </p>
      </div>
    </div>
  </div>
</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
