<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Blog o kombuchy. Artykuły na temat naturalnego i niepasteryzowanego probiotyku - Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Blog - Koala Kombucha</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog Koala Kombucha</h1>
          <span class="subheading">
              Wszystko o kombuchy w Polsce i nie tylko.
            </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="/blog/kombuchowe-vademecum.html">
          <h2 class="post-title">
            Kombuchowe Vademecum
          </h2>
          <h3 class="post-subtitle">
            Garść porad dla domowych siewców dobrego fermentu
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Maj 18, 2020
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/kombucha-na-redukcji.html">
          <h2 class="post-title">
            Kombucha na redukcji
          </h2>
          <h3 class="post-subtitle">
            Czy Kombuchę można pić na redukcji?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Kwiecień 30, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/cukrzyca-a-kombucha.html">
          <h2 class="post-title">
            Kombucha a cukrzyca
          </h2>
          <h3 class="post-subtitle">
            Czy Kombuchę mogą spożywać osoby chore na cukrzycę?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Kwiecień 25, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/kombucha-na-swiecie.html">
          <h2 class="post-title">
            Co kraj to kombucha
          </h2>
          <h3 class="post-subtitle">
            Czy wszędzie robi się kombuchę tak samo?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Kwiecień 7, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/wzmacnianie-odpornosci-probiotyki.html">
          <h2 class="post-title">
            Wzmacnianie odporności przez… dobre bakterie?
          </h2>
          <h3 class="post-subtitle">
            Trochę o tym jaki wpływ na Twoją odporność mają jelita
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Marzec 29, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/jak-zrobic-kombuche-w-domu.html">
          <h2 class="post-title">
            Jak zrobić kombuchę
          </h2>
          <h3 class="post-subtitle">
            Czyli domowy sposób na kombuchę
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Styczeń 13, 2020</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/jakie-bakterie-w-kombuchy.html">
          <h2 class="post-title">
            Kultury bakterii w kombuchy
          </h2>
          <h3 class="post-subtitle">
            Jakie kultury bakterii znajdują się w kombuchy?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Listopad 10, 2019</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/historia-kombucha.html">
          <h2 class="post-title">
            Historia kombuchy
          </h2>
          <h3 class="post-subtitle">
            Historia kombuchy pokrótcę. Skąd wzięła się kombucha?
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Marzec 20, 2019</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/prawdziwa-vs-pseudo-kombucha.html">
          <h2 class="post-title">
            Prawdziwa vs pseudo kombucha
          </h2>
          <h3 class="post-subtitle">
            Jak rozponać dobrej jakości kombuchę, oraz jak rozpoznać pseudo-kombuchę
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Luty 1, 2019</p>
      </div>
      <hr>

      <div class="post-preview">
        <a href="/blog/dieta-kombucha.html">
          <h2 class="post-title">
            Kombucha na diecie
          </h2>
          <h3 class="post-subtitle">
            Na jakiej diecie można pić kombuchę
          </h3>
        </a>
        <p class="post-meta">Dodano przez
          <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
          w dniu Styczeń 15, 2019</p>
      </div>
      <hr>
    </div>
  </div>
</div>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
