<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Domowy sposób na kombuchę - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Koala Kombucha - Jak zrobić w domu kombuchę - Domowa kombucha</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/domowa_kombucha.jpeg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Jak zrobić kombuchę</h1>
          <h2 class="subheading">Czyli domowy sposób na kombuchę</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Styczeń 13, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Jak powstaje kombucha</h2>
        <p>
          <b>Kombucha (czyt. kombucza)</b>, to nic innego jak fermentowana herbata. Jeśli zastanawiasz się,
          czy i jak możesz zrobić w domowych warunkach kombuchę, to czytaj dalej :)
        </p>

        <p>
          <a href="#">
            <img src="img/domowa-kombucha-butelki.jpg" class="w-100" alt="Kombucha w butelkach"/>
          </a>
          <span class="caption text-muted">Kombucha domowej roboty</span>
        </p>

        <h2 class="section-heading">Co będę potrzebować?</h2>
        <p>
          Na początek upewnij się, że masz wszystkie elementy z poniższej listy:<br/>
          <ul>
            <li>8 torebek czarnej herbaty</li>
            <li>3 litry wody</li>
            <li>200g cukru</li>
            <li>grzybek fermentacji (SCOBY)</li>
            <li>słoik 5 litrowy</li>
            <li>Szmatka materiałowa i gumka recepturka</li>
          </ul>
        </p>

        <h2 class="section-heading">
          Teraz szybkie wyjaśnienie, do czego potrzebujesz powyższe rzeczy...
        </h2>
        <p><ul>
        <li>
          Czarna herbata - jest to odmiana herbaty, która wykazuję największą tolerancję jeśli chodzi o warunki fermentacji.
          Z tego też powodu polecamy ją każdemu początkującemu amatorowi fermentacji kombuchy.
          Jeśli chcesz, możesz oczywiścię użyć dowolnego innego typu herbaty,
          jednak w takim wypadku regularnie kontroluj, jak przebiegają procesy fermentacji w Twoim słoiku.
        </li>
        <li>
          Cukier - najlepiej zwykły rafinowany biały cukier. Podobnie jak czarna herbata, gwarantuje on najstabilniejszą fermentację.
          Oczywiście, możesz użyć innych odmian cukru a nawet soku, oraz wg. własnych preferencji korygować ilość cukru jaką
          początkowo dodajesz. Jeśli jednak jest to Twoje pierwsze podejście, 200g cukru na 3l wody, powinno ci dać bardzo wysoką
          szansę na powodzenie. Nie nastawiaj się jednak na to, że zdołasz z łatwością wyfermentować cały cukier. Jest to bardzo trudne do
          osiągnięcia w domowych warunkach.
        </li>
        <li>
          Grzybek fermentacji SCOBY - Czyli symbiotyczne bakterie, "zjadające" cukier i przetwarzające go na dobre kwasy organiczne.
          Najłatwiej jest go zdobyć na allegro, gumtree, lub popytać wśród znajomych.
        </li>
        <li>
          Woda i słoik - Co tu dużo mówić, do zaparzenia herbaty potrzeba wody, a do jej fermentacji słoika.
          Dobrze by było, żeby w słoiku było jeszcze trochę miejsca po zalaniu go herbatą i włożeniu do niego grzybka SCOBY.
        </li>
        <li>
          Szmatka i gumka - będziesz ich potrzebować do przkyrycia słoika.
        </li>
      </ul></p>


        <h2 class="section-heading">Mam wszystkie rzeczy niezbędne do zrobienia kombuchy. Co dalej?</h2>
        <p>
          Przepis jest następujący:
          <ol>
            Zaparz herbatę w słoiku (upewnij się, że Twój słoik wytrzyma wysoką temepraturę)
          </ol>
          <ol>
            Dodaj do gorącej herbaty cukier
          </ol>
          <ol>
            Zamieszaj cukier, aż się rozpuści
          </ol>
          <ol>
            Poczekaj, aż herbata ostygnie do temperatury pokojowej
          </ol>
          <ol>
            Włóż do słoika z herbatą grzybek fermentacji SCOBY i wlej razem z nim, wszelkie "soki" kombuchowe, w których dotychczas pływał
          </ol>
          <ol>
            Załóż na słoik szmatę, i zapnij go gumką recepturką w okoł gwintu na zakrętkę
          </ol>
          <ol>
            Odstaw słoik z Twoim zaczynem kombuchy do ciemnego pomieszczenia, w którym temperatura nie spada poniżej 18C
          </ol>
          <ol>
            Co kilka dni próbuj Twojej kombuchy. Jak stwierdzisz, że jest dobra, to przelej ją do butelek i włóż do lodówki.
            <b>Pamiętaj</b>, że jeśli będziesz fermentować kombuchę zbyt długo, to zamieni się ona w <b>ocet</b> :)
          </ol>
        </p>
      </div>
    </div>
  </div>
</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
