<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Kombucha a probiotyki - Jakie bakterie można znaleźć w kombuchy - Kultury bakterii w kombuchy - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Koala Kombucha - Jakie bakterie znajdują sie w kombuchy</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead" style="background-image: url('img/scoby-large.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kultury bakterii w kombuchy</h1>
          <h2 class="subheading">Jakie kultury bakterii znajdują się w kombuchy?</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Listopad 10, 2019</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Dobre kultury bakterii</h2>
        <p>
          W internecie powszechnie mówi się o tym, że kombucha jest pełna dobrych kultur bakterii (tzw. probiotyków).
          Jeśli ciekawi cię jakie konkretnie bakterie występują w kombuchy i jaki jest ich efekt na Twój organizm,
          to ten artykuł powinien rozwiać przynajmniej część nurtujących cię wątpliwości.
        </p>

        <p>
          <a href="#">
            <img src="img/scoby.jpg" class="w-100" alt="Fermentacja kombuchy, SCOBY"/>
          </a>
          <span class="caption text-muted">SCOBY - kolonia symbiotycznych organizmów i drożdży</span>
        </p>

        <h2 class="section-heading">Skąd się biorą w kombuchy kultury bakterii</h2>
        <p>
          Zacznijmy może od tego, że kombucha to tak naprawdę, po prostu fermentowana herbata.
          Tak samo, jako fermentuje się mleko by uzyskać kefir, tak fermentujemy herbatę, by uzyskać kombuchę.
          W wypadku kefiru, tradycyjnie wlewamy mleko do np. słoika, po czym dodajemy do niego tzw. “Ziarna kefirowe”,
          w celu rozpoczęcia procesu fermentacji. Wikipedia definiuje ziarna kefirowe w następujący sposób “naturalne
          skupiska wielu populacji symbiotycznych mikroorganizmów o specyficznych właściwościach, tradycyjnie używane
          od stuleci w różnych społecznościach ludzkich jako naturalna kultura starterowa w procesie wytwarzania
          musującego
          napoju mlecznego – kefiru”.
          W wypadku kombuchy, zamiast mleka wlewamy do słoika herbatę, a zamiast ziaren kefirowych wrzucamy do
          słoika grzybek SCOBY. Co ciekawe, sama definicja tzw. scobiego, jest bardzo zbliżona do definicji
          ziaren kefirowych, jest to po prostu kolonia symbiotycznych organizmów i drożdży.
        </p>

        <h2 class="section-heading">
          Bakterie, które można znaleźc w kombuchy
        </h2>
        <p>
          Czym więc różni się kombucha od kefiru? Wg. badani kefir jest przede wszystkim bogaty w bardzo
          szeroką gammę bakterii z rodziny Lactobacillus (ponad 10 odmian bakterii), mniej różnorodne są
          tam bakterie z rodzin Leuconostoc i Pseudomonas (po 3 odmiany). Możemy też w nim znaleźć jedną z
          odmian bakterii Streptococcus.

          W kombuchy z kolei wykryto jak dotąd obecność następujących rodzin bakterii i odmian drożdży:
        </p>
        <ul>
          <li>
            Acetobacter
            <ul>
              <li>
                Bakterie odpowiedzialne z “octową” nutę smakową kombuchy.
                Wytwarzają w kombuchy kwas octowy, który zapobiega rozwojowi szkodliwych mikroorganizmów w kombuchy.
                Sam kwas octowy, obniża ph kwasów żołądkowych, co wspomaga procesy trawienne.
                Dodatkowo obniża on poziom cukru we krwi i reguluje gospodarkę insuliny.<br/>

                <div class="source-link">(<a href="https://care.diabetesjournals.org/content/27/1/281.long">https://care.diabetesjournals.org/content/27/1/281.long</a>)</div>
              </li>
            </ul>
          </li>


          <li>
            Gluconacetobacter
            <ul>
              <li>
                Produkują kwas glukarowy, który oczyszcza żołądek i wątrobę z toksyn oraz reguluje
                poziom estrogenu w organizmie.<br/>

                <div class="source-link">(<a href="https://www.ncbi.nlm.nih.gov/pubmed/12197785">https://www.ncbi.nlm.nih.gov/pubmed/12197785</a>)</div>
              </li>
            </ul>
          </li>


          <li>
            Lactobacillus
            <ul>
              <li>
                Pomimo tego, że kombucha jest uboższa w bakterie z rodziny Lactobacillus niż kefir,
                to nie powinniśmy ich pominąć, gdy wymieniamy bakterie, które możemy znaleźć w kombuchy.
                Rodzina bakterii Lactobacillus, to najczęściej sprzedawana forma probiotyków w aptekach.
                Wg. badań, bakterie Lactobacillus mogą: obniżyć całkowity poziom cholesterolu, przeciwdziałać
                infekcjom układu pokarmowego, wspomagać walkę z syndromem jelita drażliwego, wzmocnić
                układ odpornościowy, przeciwdziałać alergiom.<br/>

                <div class="source-link">(<a href="https://www.ncbi.nlm.nih.gov/pubmed/26512560">https://www.ncbi.nlm.nih.gov/pubmed/26512560</a>,
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/16728323">https://www.ncbi.nlm.nih.gov/pubmed/16728323</a>,
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/21436726">https://www.ncbi.nlm.nih.gov/pubmed/21436726</a>,
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/23372900">https://www.ncbi.nlm.nih.gov/pubmed/23372900</a>,
                  <a href="https://www.ncbi.nlm.nih.gov/pubmed/25899251">https://www.ncbi.nlm.nih.gov/pubmed/25899251</a>)</div>
              </li>
            </ul>
          </li>


          <li>
            Pediococcus
            <ul>
              <li>
                Rodzina bakterii, która wg. najnowszych badań wspomaga walkę organizmu ze
                szkodliwymi drobnoustrojami oraz pasożytami. Należy jednak mieć na uwadzę fakt,
                że dotychczasowe badania kliniczne były względnie ograniczone.
              </li>
            </ul>
          </li>

          <li>
            Saccharomyces
            <ul>
              <li>
                Odmiana drożdży, używana w farmakologii jako probiotyk do leczenia
                rozwolnienia na tle zaburzeń flory bakteryjnej układu pokarmowego.<br/>

                <div class="source-link">(<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3296087/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3296087/</a>)</div>
              </li>
            </ul>
          </li>
        </ul>

        <p>
          <a href="#">
            <img src="img/domowa-kombucha-butelki.jpg" class="w-100" alt="Niepasteryzowana kombucha"/>
          </a>
          <span class="caption text-muted">Butelka niepasteryzowanej kombuchy domowej roboty</span>
        </p>

        <h2 class="section-heading">Tylko niepasteryzowana kombucha ma naturalnie wytworzone bakterie</h2>
        <p>
          Zawartość bakterii, które znajdziesz w kombuchy, zależy nie tylko od marki kombuchy, którą spożywasz,
          ale przede wszystkim od danej partii kombuchy, która została wyprodukowana.
          Gdy kupujesz kombuchę, <b>pamiętaj o tym, żeby sprawdzić na etykiecie czy jest ona niepasteryzowana.
          Pasteryzacja kombuchy zabija wszystkie występujące w niej bakterie.</b>
          Niektórzy z producentów kombuchy, używają zwrotów na etykietach typu “Raw”, pomimo tego,
          że sprzedają pasteryzowany produkt, w którym nie znajdziesz żadnych z wcześniej wymienionych bakterii.
          Inni z koleji pasteryzują kombuchę, po czym dosypują do niej szczepy sztucznie wytworzonych kolonii
          bakterii przez koncerny farmaceutyczne.

          Podsumowując, jeśli zależy ci na piciu tradycyjnej kombuchy, z naturalnie występującymi kulturami
          bakterii, to zawsze sprawdzaj czy kupujesz niepasteryzowany produkt.

          Jeśli masz problemy ze znalezieniem tradycyjnej niepasteryzowanej kombuchy w Twojej miejscowości,
          zawsze możesz ją kupić w naszym sklepie internetowym - <b><a href="https://sklep.koala-kombucha.pl">sklep.koala-kombucha.pl</a></b>.

        </p>
      </div>
    </div>
  </div>
</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
