<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Garść porad dla domowych siewców dobrego fermentu - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Kombuchowe Vademecum</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/vandemecum.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kombuchowe Vademecum</h1>
          <h2 class="subheading">Garść porad dla domowych siewców dobrego fermentu</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Maj 18, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Włączenie kombuchy do swojej diety z pewnością niesie za sobą bardzo pozytywne skutki. Co jednak, jeśli
          chcielibyśmy samodzielnie przygotować ją w domu?
          <br/>Na co zwrócić uwagę? Odpowiadamy.
        </p>

        <h2 class="section-heading">1. Skąd wziąć SCOBY?</h2>
        <p>
          W jednym z poprzednich artykułów opisywałem jak można przygotować domową kombuchę.<br/>
          Najprostszym sposobem na zdobycie SCOBY jest oczywiście zamówienie go online na serwisach aukcyjnych, bądź
          stronie sklepu internetowego.
          <br/>
          Jeśli jednak chcecie podnieść poziom trudności, możecie również wychodować własny SCOBY z jakiejkolwiek
          niepasteryzowanej kombuchy, np. Koala Kombucha. W tym celu wystarczy zalać szklankę o możliwie szerokiej
          średnicy napojem do mniej więcej połowy, dodać cukru, przykryć gazą i poczekać około tygodnia na pojawienie
          się galaretowatej błony która jest właśnie naszym nowym SCOBY.
        </p>

        <h2 class="section-heading">
          2. Czy można używać metalu?
        </h2>
        <p>
          Rozpoczynając moją przygodę z kombuchą szybko dowiedziałem się z eksperckich forów że przy produkcji kombuchy
          należy unikać kontaktu napoju,
          czy nawet herbaty z metalem… Czy to prawda? Nie - metale faktycznie mogą reagować z bakteriami zawartymi w
          kombuchy ale wymaga to przede wszystkim czasu.
          <br/>Stosowanie łyżek czy sitek ze stali nierdzewnej przeznaczonej do produktów spożywczych nie zaszkodzi
          Twojemu SCOBY tak długo jak nie zostawisz łyżki w dzbanku z nowym nastawem na kilka godzin.
          Możesz swobodnie korzystać z łyżki stołowej do rozmieszania cukru, czy wyciągnięcia SCOBY ze słoika.
        </p>

        <p>
          <a href="#">
            <img src="img/kombucha-vandemecum.jpg" class="w-100" alt="Kombucha"/>
          </a>
          <span class="caption text-muted">Zdrowy grzybek SCOBY</span>
        </p>

        <h2 class="section-heading">3. Temperatura</h2>
        <p>
          Pamiętaj, żeby ostudzić herbatę zanim dodasz do niej grzybka i kombuchę z poprzedniej partii - w
          przeciwieństwie do metalu, wysoka temperatura zabije wszystko co dobre w Twoim napoju w mgnieniu oka!
          <br/>Dlatego, zawsze poczekaj aż herbata osiągnie temperaturę co najmniej 25 stopni.
        </p>

        <h2 class="section-heading">4. “Dziwne” zachowanie SCOBY</h2>
        <p>
          Grzybek w Twojej kombuchy może unosić się na wierzchu, opaść na dno lub dotykać jednej ze ścian słoika - nie
          ma powodów do obaw.<br/>
          Tak samo w przypadku strzępków kombuchy zbierających się poniżej grzybka lub przy dnie słoika.<br/>
          SCOBY może zapaść się w środku jakby był bajglem, może mieć guzki, ciemniejsze brązowe placki czy płaty o
          nieco innej konsystencji - nadal jest zdatny do użycia.
        </p>

        <h2 class="section-heading">5. Wąchaj swoją kombuchę</h2>
        <p>
          Kombucha ma niezawodny sposób aby zakomunikować Ci że coś jest nie tak - zapach.<br/>
          Na początkowym etapie fermentacji, kombucha będzie miała neutralny zapach, zyskując z biegiem czasu na
          octowości.<br/>
          Jeśli wyczuwasz nieprzyjemny zapach różniący się znacząco od tego co czułeś zaraz po wstawieniu kombuchy, może
          to być znak że popełniłeś po drodze błąd.<br/>
          Obejrzyj dokładnie SCOBY - jeśli nie zauważysz śladów pleśni, wylej nastawioną kombuchę, opłucz grzybka ciepłą
          (ale nie gorącą!) wodą i zacznij od początku.<br/>
          Jeśli zauważysz ślady pleśni - pozbądź się wszystkiego i powtórz z nowymi składnikami.
        </p>

        <h2 class="section-heading">6. Czarny SCOBY odpada</h2>
        <p>
          Każda kolejna partia kombuchy powinna skutkować pojawieniem się nowego grzybka narastającego na poprzednim.
          Kest to proces naturalny - SCOBY czasem będą złączone, czasem niezależne, możesz je używać naraz do tej samej
          partii, lub rozdzielić do eksperymentów smakowych w poszukiwaniu idealnej kombuchy.
          <br/>
          Z czasem, grzybek zacznie czernieć co jest u niego oznaką starości - w momencie w którym osiągnie intensywną
          barwę zalecamy wyłączyć go z domowej produkcji.
          <br/>
          Aby wydłużyć życie Twojego grzybka, staraj się utrzymywać możliwie stałą proporcję cukru, kombuchy, herbaty i
          wody przy każdym kolejnym nastawie.
        </p>
      </div>
    </div>
  </div>
</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
