<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Kombucha a probiotyki - Czy kombucha to probiotyk - Co to probiotyk - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Koala Kombucha - Kombucha a probiotyki</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead" style="background-image: url('img/las.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Kombucha a probiotyki</h1>
          <h2 class="subheading">Historia kombuchy pokrótcę. Skąd wzięła się kombucha?</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Sierpień 20, 2019</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Czym są probiotyki</h2>
        <p>
          Zacznijmy może od defnincji, którą podaje wikipedia:
          <ul>
            <li>
              <i>"Probiotyki (gr. pro bios – dla życia), czynnościowa żywność – podawane doustnie wyselekcjonowane
                kultury bakteryjne lub drożdży, najczęściej bakterie
                kwasu mlekowego (Lactobacillus), których zadaniem jest korzystne dla zdrowia działanie w
                przewodzie pokarmowym, poprzez immunomodulację oraz zachowywanie prawidłowej flory fizjologicznej.
                W większości przypadków korzystne oddziaływania probiotyków dotyczą wyłącznie warunków in vitro.
                Zaproponowano, że jeżeli wpływ drobnoustrojów na leczenie choroby został zbadany naukowo i ma dowiedzioną skuteczność,
                należy używać nazwy czynnik bioleczniczy.
                Według definicji FAO/WHO probiotyki to „żywe drobnoustroje, które podane w odpowiedniej
                ilości wywierają korzystny wpływ na zdrowie gospodarza”[1]."</i>
              (<a style="font-size: 10px;" href="https://pl.wikipedia.org/wiki/Probiotyk" target="_blank">https://pl.wikipedia.org/wiki/Probiotyk</a>)
            </li>
          </ul>

        </p>

        <p>
          <a href="#">
            <img src="img/herbata-zielona-kombucha.jpg" class="w-100" alt="Zielona herbata, grzybek herbaciany"/>
          </a>
          <span class="caption text-muted">Wg. doniesień historykow, kombucha może być nam znana prawie równie długo jak herbata</span>
        </p>

        <h2 class="section-heading">Początki kombuchy w starożytnych Chinach i Japonii</h2>
        <p>
          Wszystko zaczęło się w kraju, z którego pochodzi jedyna wciąż praktykowana tradycyjna medycyna - Chin.
          Sama herbata była znana w starożytnych Chinach prawdopodobnie już w XVw. przed Chrystusem,
          co może wskazywać na to, że w tym okresie, zaczęto również rozwijać kombuchę.
          Jeśli chodzi o potwierdzone informacje, to większość źródeł w internecie donosi,
          że istnieją dokumenty datowane na okres sprawowania władzy przez dynastię Qin (lata 221-206 BC),
          które odwołują się do niejakiego Eliksiru Wiecznego Życia, tudzież Herbaty Nieśmiertelności,
          pod którymi też nazwami znana jest w Chinach kombucha.
          Mówi się, że kombucha dotarła do Japonii w okresie sprawowania tam władzy przez dynastię
          Kofun (lata 250 - 538 naszej epoki). Istnieją doniesienia, o Koreańskim lekarzu, który dotarł do
          Japonii i wyleczył problemy trawienne ówczesnego cesarza, przy pomocy napoju herbacianego z magicznym grzybem.
        </p>

        <h2 class="section-heading">
          Dzieje kombuchy w Europie
        </h2>
        <p>
          Przyjmuje się, że wraz z powstaniem jedwabnego szlaku (rok 130 BC) i rozwojem handlu pomiędzy
          Chinami a Europą, dotarła do nas herbata, a wraz z nią też grzyb herbaciany. O ile nacje Europy
          Zachodniej od zawsze sceptycznie podchodziły do produktów spożywczych, które mają oznaki zepsucia,
          o tyle w tradycji słowiańskiej, od zawsze związani jesteśmy z wszelkiego rodzaju produktami
          fermentowanymi, jak np. ogórki kiszone, czy kwas chlebowy.
          Dlatego, też kombucha, docierając do nas z Chin, została szybko zaadaptowana i spopularyzowana
          wśród narodów słowiańskich. W Rosji tzw. “čajnyj grib”, czyli “grzyb herbaciany” znany i pity jest
          od wielu pokoleń.
        </p>

        <p>
          <a href="#">
            <img src="img/sloiki-kombucha-scoby.jpg" class="w-100" alt="Kombucha - SCOBY"/>
          </a>
          <span class="caption text-muted">W naszej kulturze przez lata znana była herbata z grzybkiem</span>
        </p>

        <h2 class="section-heading">Czasy nowożytne</h2>
        <p>
          Zdaje się, że najlepszym odniesieniem w kwestii nowożytnej historii kombuchy, będzie Rosja, w której to
          dopiero w latach 1980 wprowadzono na rynek colę. Jak już wcześniej wspomnieliśmy, podobnie sytuacja miała się w Polsce,
          gdzie dopiero w latach 70tych wprowadzono cole do sklepów. Do tego czasu, jedyne gazowane napoje,
          które właściwie na całym terenie byłego związku radzieckiego były znane to kwas chlebowy oraz kombucza.
          Część z naszych babć/dziadków, trzymała na parapecie albo stole kuchennym słoiki z herbatą i plastrem pływającej na
          wierzchu glutowatej substancji, a po przeprowadzeniu kilkutygodniowej fermentacji, piła otrzymany musujący napój.
          Po wejściu na rynek produktów wywodzących się z USA, tradycyjne słowiańskie “domowe” wyroby zaczęły stawać się coraz mniej modne.
          Coraz większa część społeczeństwa zaczynała łaknąć zarówno smaku jak i zachodniego stylu życia, które były
          odskocznią od szarej post-socjalistycznej rzeczywistości.
          Ostatecznie, koncerny, które weszły na polski rynek, zdołały w przeciągu jednego pokolenia - pięćdziesięciu
          lat - całkowicie wyprzeć z naszej kultury, napój, który przez setki lat, aż do jeszcze niedawna był regularnie
          spożywany w Europie centralnej i wschodniej - kombuchę.
        </p>
      </div>
    </div>
  </div>
</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
