<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Czy wszędzie robi się kombuchę tak samo? - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Koala Kombucha - Kombucha na świecie</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/globus.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Co kraj to kombucha</h1>
          <h2 class="subheading">Czy wszędzie robi się kombuchę tak samo?</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Kwiecień 7, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Czy Kombucha w Australii smakuje tak samo jak w Europie?</h2>
        <p>
          W zależności od źródeł, szacuje się że od czasu pojawienia się kombuchy, minęło już ponad 2000 lat. To bardzo duża ilość czasu. Tak duża, że napój zdążył niejednokrotnie zakorzenić się w kulturach poszczególnych krajów, następnie zostać zapomnianym po to aby znów powrócić do łask po latach.
          <br/>
          Przy tak długiej obecności na rynku (mówiąc o rynku w perspektywie 2000 lat, odnoszę się również do produktów wytwarzanych samodzielnie przez gospodarstwa domowe), oczywistym jest że napój ewoluował dostosowując się do gustu lokalnych mieszkańców.
          <br/>
          Dziś przedstawię swoje subiektywne obserwacje z podróży i testowania lokalnych napojów w różnych szerokościach geograficznych.
        </p>

        <h2 class="section-heading">Europa</h2>
        <p>
          Najbliższy nam jest oczywiście rynek Europejski - praktycznie gdziekolwiek się wybierzemy, jesteśmy w stanie znaleźć mniej lub bardziej znane marki oferujące swój ferment. Porównując produkty dostępne w Niemczech, Hiszpanii, Wielkiej Brytanii, Włoszech, Francji czy Polsce łatwo dojść do pewnych wniosków.
          <br/>
          Przede wszystkim, w Europejskiej kombuchy możemy łatwo wyczuć nutę herbacianą. Napoje nie są mocno musujące czy gazowane, są również dość słodkie - najczęściej zawierają od 4 do nawet 12 gram cukru na 100ml.
          <br/>
          Wachlarz dostępnych wariacji jest dość szeroki, niemniej jednak przeważają smaki kojarzące się z produktami zdrowotnymi - imbir, hibiskus, lawenda czy nawet… tymianek! Smaki owocowe występują, jednak są często zdominowane powyższymi.
          <br/>
          Składy poszczególnych produktów różnią się od siebie znacząco. Europejskie kombuche są niestety bardzo często pasteryzowane, wśród składników możemy znaleźć ocet jabłkowy, aromat kombuchy i inne dziwne dodatki.
          <br/>
          Z drugiej strony, pozwala to łatwo zidentyfikować produkty wyższej jakości - zawierają one przede wszystkim kultury bakterii SCOBY, nie mają sztucznych dodatków i są niepasteryzowane. Jak nietrudno się domyślić, są to najczęściej mniej rzucające się w oczy butelki mało znanych marek.
        </p>
        </p>

        <h2 class="section-heading">
          Stany Zjednoczone
        </h2>
        <p>
          Kombucha jest aktualnie jednym z najlepiej sprzedających się napojów w USA. Jest to bardzo dobra wiadomość, w związku z panującym w tym kraju problemem otyłości. Znaczący udział w rynku prozdrowotnego napoju pozwala założyć iż świadomość konsumentów się zwiększa - szukają zdrowszych alternatyw do codziennego spożycia. Przyjrzyjmy się więc amerykańskim producentom.
          <br/>
          Kwestia jakiej byłem najbardziej ciekaw, to zawartość cukru. Jako że amerykanie znani są na całym świecie ze swojego zamiłowania do wszystkiego co słodkie i niezdrowe nie miałem wielkich oczekiwań, ale przyznam że średnia zawartość cukru na poziomie 6-10g/100ml troszkę mnie zawiodła.
          <br/>
          Wygląda na to że amerykańscy producenci kombuchy podeszli do tematu w typowo kapitalistyczny sposób. Jak najszybciej, jak najtaniej i… słodko!
          <br/>
          Znalezienie naturalnie fermentowanego napoju bez sztucznych dodatków nie jest jednak zadaniem niemożliwym. Ze względu ogromną na ilość produktów na półkach praktycznie każdego sklepu, jesteśmy w stanie odszukać produkty zawierające żywe kultury bakterii, naturalne składniki, a nawet zawartość cukru na poziomie 1-2g! Są one oczywiście droższe i mniej liczne ale pozytywny jest fakt że w ogóle występują i utrzymują się na rynku.
          <br/>
          Amerykanie kochają bąbelki, co widać w ich kombuchy - napoje są sztucznie dogazowywane CO2, co nadaje charakterystycznego posmaku.
          <br/>
          Różnorodność smaków jest powalająca - poszczególne marki potrafią oferować nawet kilkanaście wersji smakowych produktu. Zauważalna jest dominacja smaków owocowych, niejednokrotnie z domieszką ziół np. mięty.
          <br/>
          Kombucha w wydaniu amerykańskim jest dość mocno słodka, owocowa i mało octowa.
        </p>

        <p>
          <a href="#">
            <img src="img/australia.jpg" class="w-100" alt="Australia"/>
          </a>
          <span class="caption text-muted">Kombuche w Australii i Europie to totalnie inne napoje</span>
        </p>

        <h2 class="section-heading">Australia
        </h2>
        <p>
          Przechodzimy do najbliższej mojemu sercu kombuchy Australijskiej.
          <br/>
          Co tak mocno ją wyróżnia? Przede wszystkim wyjątkowy smak - ze względu na blisko zerową zawartość cukru, napój jest przyjemnie kwaskowaty co w połączeniu z owocowymi smakami daje niesamowicie orzeźwiający efekt.
          <br/>
          Uwagę zwraca też unikalny posmak - który jak się okazuje jest możliwy do uzyskania dzięki dłuższemu czasowi fermentacji. Dłuższy czas fermentacji = większa ilość bakterii oraz kwasów korzystnych dla naszego organizmu.
          <br/>
          Dodatkowo, lokalni producenci starają się unikać pasteryzacji - zaskakujące jest to że najpopularniejsze na runku marki mają najlepszy skład. Najbardziej widoczne produkty zawierają żywe kultury bakterii SCOBY, organiczną (i niearomatyzowaną!) herbatę, naturalne aromaty owocowe i… naturalne słodziki. Dlaczego słodziki? Bez tego, kombucha byłaby zbyt octowa i wytrawna co raczej zniechęcałoby zwłaszcza nowych konsumentów.
          <br/>
          Naturalne słodziki takie jak stewia, czy erytrytol (fermentowana glukoza) pozwalają na złagodzenie smaku, nie wpływając na skład czy właściwości napoju.
          <br/>
          Po otwarciu butelki australijskiej kombuchy czujemy mieszankę owoców z delikatną nutą octu, no i oczywiście mnóstwo bąbelków! W zależności od marki, znajdziemy tutaj napoje gazowane CO2 i musujące (w następstwie fermentacji).
        </p>
      </div>
    </div>
  </div>
</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
