<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Kombucha w Polsce - Jak rozpoznać prawdziwą kombuchę - Jaką kombuchę kupować i pić - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Koala Kombucha - Prawdziwa vs Pseudo Kombucha</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/sloik.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>O kombuchy w Polsce</h1>
          <h2 class="subheading">Jak rozponać dobrej jakości kombuchę, oraz jak rozpoznać pseudo-kombuchę</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Luty 1, 2019</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">Dostępność Kombuchy w Polsce</h2>
        <p>
          Na polskim rynku znaleźć można kilka brandów kombuchy, jednak część z firm oferuje produkty,
          "kombuchopodobne", które z kombuchą mają niewiele wspólnego, a są po prostu kolejną odsłoną oranżady z cukrem.
          Niestety, z powodu braku regulacji, produkty te są nazywane przez producentów kombuchą i tak też oznaczone
          na etykietach produktu.
        </p>
        <h2 class="section-heading">Jak rozpoznać czy kupuję kombuchę, czy zwykły napój gazowany, który producent nazwał
          kombuchą?</h2>
        <p>
          Zacznijmy może od tego, co sprawia, że <a href="https://www.koala-kombucha.pl/">kombucha</a> jest wyjątkowa.
          Kluczową cechą kombuchy jest fakt, że jest to <b>fermentowany napój pełen naturalnie wytwarzanych dobrych
          bakterii - probiotyków.</b>
          To właśnie probiotyki zawarte w kombuchy sprawiają, że z dnia na dzień twoje trawienie się poprawia
          i zaczynasz czuć się coraz lepiej.
        </p>
        <p>
          Ok, ale jak probiotyki mają się do sprzedaży pseudo-kombuchy?
          Probiotyki, tak jak i wszelkie inne bakterie są zabijane w procesie pasteryzacji.
          Jeśli nie wiesz, pasteryzacja to nic innego jak podgrzewanie cieczy (w tym wypadku kombuchy),
          do temp. około 100C. Celem tego procesu jest wybicie wszystkich bakterii istniejących w napoju w celu
          przedłużenia jego terminu przydatności do spożycia. Jeśli produkt, który kupujesz nie jest oznaczony jako
          produkt
          niepasteryzowany, to znaczy, że wszystko co dobre w "kombuchy", którą trzymasz w dłoni zostało z niej
          wygotowane
          i efektywnie kupujesz herbatę z dodatkiem CO2 i cukru.
        </p>
        <h2 class="section-heading">
          Sprawdzaj skład kombuchy
        </h2>
        <p>
          W skład kombuchy przede wszystkim <b>muszą</b> wchodzić <b>kultury kombuchy (tzw. scoby)</b>,
          jeśli na butelce kombuchy, którą chcesz kupić nie ma kultur kombuchy, znajdują się natomiast wszelkiego
          typu "ekstrakty z kombuchy", czy też "zagęszczacze/zagęszczone herbaty/regulatory" i inne tego typu dodatki,
          najprawdopodobniej, znowu masz do czynienia z ładnie zapakowaną i oznaczoną oranżadą, która z kombuchą ma
          niewiele wspólnego i jedyny efekt jaki będzie mieć na twoje ciało, to podniesienie w nim poziomu cukru.
        </p>

        <p>
          <a href="#">
            <img src="img/scoby2.jpg" class="img-fluid" alt="Grzybek (bakterie) fermentacji kombuchy"/>
          </a>
          <span class="caption text-muted">Grzybek fermentacji (scoby)</span>
        </p>

        <p>
          Analogicznie, jak kupujesz (lub robisz!) ogórki kiszone, to jak sama nazwa wskazuje, musiały one kiedyś
          zostać ukiszone. Kiszenie ogórków odbywa się poprzez ich fermentację w słoiku, dzięki czemu produkt końcowy
          zawiera kultury dobrych bakterii.<br?
          Co jednak, jeśli ogórki kiszone, które kupujesz, tak na prawdę nie zostały nigdy zakiszone, a zamiast tego
          ktoś po prostu włożył do wody ogórki, dolał trochę octu, cukru, ekstraktu z kopru, dosypał kilka witamin
          kupionych w aptece, zamknął słoik, podgrzał go do około 100C i zaetykietował słoik jako ogórki kiszone?
          Czy nazwałbyś taki produkt ogórkami kiszonymi?
        </p>
        <h2 class="section-heading">
          Podsumowanie
        </h2>
        <p>
          Jest na polskim rynku, kilku producentów, którzy wytwarzają prawdziwą kombuchę, w tym <b>Koala Kombucha</b>.
          Nie ma ich jednak wielu. Większość produktów opisanych jako kombucha, ma niestety bardzo wątpliwy skład
          i proces wytwarzania. Jeśli chcesz mieć pewność, że kupujesz prawdziwą kombuchę, sprawdzaj etykiety produktów,
          patrz na skład i na opis czy produkt jest pasteryzowany. Dobrym wykładnikiem jakości kombuchy, którą kupujesz,
          może być również obecność certyfikatu BIO na etykiecie produktu.
        </p>
      </div>
    </div>
  </div>
</article>

<hr>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
