<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Wzmacnianie odporności przez… dobre bakterie? - Koala Kombucha">
  <meta name="author" content="Koala Kombucha">

  <title>Koala Kombucha - Jelita a odporność organizmu</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/extra-styles.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129404080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129404080-1');
  </script>


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: '#000'
          },
          button: {
            background: '#f1d600'
          }
        },
        position: 'bottom-left',
        layout: 'koala-layout',
        layouts: {
          'koala-layout': '<div class="my-cool-layout">{{header}}{{message}}{{compliance}}</div>',
        },
        elements: {
          header: '<span class="cc-header">Ta strona używa plików cookies w celach analitycznych.</span>',
          message: '<span id="cookieconsent:desc" class="cc-message"><a href="/polityka-prywatnosci.html" rel="nofollow">Polityka prywatności</a></span>'
        },
        content: {
          dismiss: 'Akceptuję warunki'
        }
      })
    });
  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" id="top-logo" alt="Koala Kombucha">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/index.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#benefity">Benefity Kombuchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#where-to-buy">Gdzie kupić</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/yoga.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Wzmacnianie odporności przez… dobre bakterie?</h1>
          <h2 class="subheading">Trochę o tym jaki wpływ na Twoją odporność mają jelita</h2>
          <span class="meta">Dodano przez
            <a href="https://www.koala-kombucha.pl">Koala Kombucha</a>
            w dniu Marzec 29, 2020</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Wszyscy zdajemy sobie sprawę z tego,
          jak ważne zwłaszcza w dzisiejszych czasach jest dbanie o odporność naszego organizmu.
          Skąd się ona bierze? W jaki sposób możemy ją naturalnie wspomagać? Sprawdźmy.
        </p>

        <p>
          <a href="#">
            <img src="img/woman.jpg" class="w-100" alt="Flora bkateryjna"/>
          </a>
          <span class="caption text-muted">Flora bakteryjna pokrywa całe jelito tworząc dla niego barierę ochronną.</span>
        </p>

        <h2 class="section-heading">System odpornościowy</h2>
        <p>
           Do produkcji naszej kombuchy, używamy certyfikowanych eko surowców.
          Skład naszej kombuchy, to: woda, cukier, herbata, kultury bakterii (scoby),
          sfermentowana glukoza, wyciąg z liści stewii i naturalne aromaty owocowe.
          Nie ma tu jakichkolwiek składników pochodzenia zwierzęcego.
        </p>
        <p>
          Bez cienia wątpliwości, możemy stwierdzić że system
          odpornościowy jest najważniejszym systemem naszego organizmu
          gdyż ma wpływ na każdy obszar naszego zdrowia.<br/><br/>
          Wśród czynników mających największy wpływ na nasz system
          immunologiczny wymienia się przede wszystkim rodzaj diety,
          aktywność fizyczną oraz sen.
        </p>

        <h2 class="section-heading">
          Święta trójca
        </h2>
        <p>
          O ile dwa ostatnie czynniki są stosunkowo łatwe do rozszyfrowania - w końcu każdy czuje różnicę w samopoczuciu jeśli się nie wyśpi, i zdaje sobie sprawę z konieczności ruchu - o tyle, kwestia doboru odpowiedniej diety nie jest już tak oczywista.
          <br/><br/>
          Dlaczego? Rodzaj diety jest bardzo złożoną i zarazem indywidualną kwestią nadającą się na osobny artykuł. Jest jednak kilka wspólnych mianowników…
        </p>

        <h2 class="section-heading">Przez żołądek do… zdrowia!
        </h2>
        <p>
          Mając na uwadze maksymalne wzmacnianie organizmu, warto upewnić się że dostarczamy mu to, czego potrzebuje. Poza odpowiednim nawodnieniem, przyjmowaniem białka, węglowodanów i tłuszczy naukowcy coraz częściej zwracają uwagę na konieczność dostarczenia probiotyków czyli dobrych bakterii.
        </p>

        <h2 class="section-heading">O co chodzi z tymi bakteriami?</h2>
        <p>
          W każdym zakątku Twojego ciała - na zewnątrz i wewnątrz - występują bakterie i inne mikroby które mają mniejszą, lub większą rolę w funkcjonowaniu organizmu.
          <br/><br/>
          Część bakterii jest stałymi rezydentami ciała, część wpada jedynie w odwiedziny. Mogą Ci pomagać lub szkodzić - słowem mają na Ciebie gigantyczny wpływ.
          <br/><br/>
          Pomimo rozproszenia po całym organizmie, największa ilość bakterii znajduje się właśnie w jelitach (szczególnie jelicie grubym).
        </p>

        <h2 class="section-heading">
          Po co mi te bakterie?
        </h2>
        <p>
          Bakterie jelitowe są dla nas szczególnie ważne, bo wytwarzają potrzebne organizmowi do prawidłowego funkcjonowania substancje. Flora bakteryjna pokrywa całe jelito tworząc dla niego barierę ochronną.
<br/><br/>
          Jak to działa? Mikroskopijni rezydenci mają stały kontakt z bazą układem odpornościowym. Dzięki temu w momencie w którym zjesz np. przeterminowany jogurt, bakterie informują o tym system odpornościowy a ten reaguje w odpowiedni sposób.
        </p>

        <h2 class="section-heading">
          Skoro występują, to po co je dostarczać?
        </h2>
        <p>
          W Twoich jelitach prawdopodobnie mieszka obecnie ponad 100 000 000 000 000 000 000 bakterii. Dużo? Dużo! Ale czy wystarczy? Niekoniecznie…
          <br/><br/>
          Mieszkańcy krajów rozwiniętych i rozwijających się są szczególnie narażeni na zubożenie flory bakteryjnej jelit. Jest to spowodowane intensywnym trybem życia - nie mając czasu na przygotowanie posiłku, decydujemy się na przetworzone pokarmy które pochłaniamy w biegu. Przy każdej możliwej okazji, lekarze serwują nam antybiotyki abyśmy mogli jak najszybciej wrócić do pracy.
          <br/><br/>
          Rezultat? Jelita dorosłego Amerykanina są dziś skolonizowane przez średnio 1,2 tysiąca gatunków bakterii. Dla porównania, jeszcze kilkadziesiąt lat temu było to średnio 1,6 tysiąca gatunków. Różnicę widać gołym okiem.
        </p>

        <h2 class="section-heading">
          Skąd je wziąć?
        </h2>
        <p>
          Kwestia nawyków żywieniowych jest jak wspomniałem dość złożona i indywidualna, niemniej jednak istnieją grupy produktów, które możemy przyjmować aby wzmacniać odporność niezależnie od diety.
          <br/><br/>
          Jednym z najbogatszych źródeł dobrych bakterii są kiszonki. Obecne w kulturze słowiańskiej, od setek lat wspierają nasz system odpornościowy i trawienny. Oczywiście, ciężko nam sobie wyobrazić codzienne wsuwanie talerza kapusty kiszonej, czy słoika ogórków dlatego proponuję alternatywne rozwiązanie - kombuchę.
        </p>

        <h2 class="section-heading">
          Kombucha najlepszym przyjacielem jelit
        </h2>
        <p>
          W jednym z poprzednich artykułów opowiedzieliśmy już sobie na temat bakterii występujących w kombuchy i o tym w jaki sposób możemy rozpoznać napoje “kombuchopodobne” od tych godnych uwagi.
          <br/><br/>
          W związku z tym, w podsumowaniu chcę jedynie zwrócić uwagę na konieczność regularnego dostarczania bakterii probiotycznych dla naszego organizmu. Jak wspomniałem wcześniej, część bakterii które występują w naszym organizmie jest w stanie przetrwać jedynie przez krótki okres czasu. Wśród nich są właśnie bakterie probiotyczne które nie są w stanie na dłużej zaczepić się w naszych jelitach.
          <br/><br/>
          Badania udowodniły, że regularne spożywanie probiotyków zmniejsza ryzyko infekcji o 24%, więc pamiętaj o tym aby dostarczyć sobie codzienną dawkę bakterii np. poprzez regularne picie Koala Kombucha.
        </p>
      </div>
    </div>
  </div>
</article>


<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/pages/category/Product-Service/KOALA-KOMBUCHA-2177171642294251/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/koalakombucha/" rel="nofollow">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">
          <a href="https://koala-kombucha.pl" class="copyright">Koala Kombucha</a> &copy; 2018. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
