<div class="container-fluid" id="start">
  <div class="row">
    <div class="col-12 text-center pt-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block m-auto" src="images/ananas.png" alt="Koala Kombucha Ananas">
          </div>
          <div class="carousel-item">
            <img class="d-block m-auto" src="images/wisnia.png" alt="Koala Kombucha Wisnia">
          </div>
          <div class="carousel-item">
            <img class="d-block m-auto" src="images/mango.png" alt="Koala Kombucha Mango">
          </div>
        </div>
        <a class="carousel-control-prev bgcolor1" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bgcolor1" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<section class="top-description" id="o-co-chodzi">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 bgcolor1 d-flex justify-content-center align-items-center tile">
        <div class="text-center m-0">
          <h1>Kombucha</h1>
          <h2>O co tu chodzi? Co to jest ta Kombucza?</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-md-end align-items-center tile" id="leaf">
        <div class="text-center">
          <p>
            <strong>Koala Kombucha</strong> to podwójnie fermentowana mieszanka organicznych herbat,
            której jedna butelka jest pełna żywych kultur bakterii i antyoksydantów.
            Nasza kombucha jest "surowa" i niepasteryzowana, dzięki czemu wszystkie występujące w niej
            probiotyki są w 100% naturalne.
            Nasz probiodrink inspirowany jest najlepszymi australijskimi kombuchami,
            zaskakuje świeżością smaku i natychmiastowym orzeźwieniem.<br/>
            Aaaaa... i jeszcze jedno, w naszej kombuchy praktycznie nie ma cukru.<br/>
            <a href="/o-koali-kombucha.html" class="underline"><b>Jak to? - dowiedz się więcej o nas</b></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="o-nas">
  <div class="container-fluid images-fluid">
    <div class="row text-center">

      <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center tile" id="sparkles">
        <h2>Chodzi o pozytywne inspiracje</h2>
      </div>
      <div class="col-12 col-sm-8 tile" id="inspiracje1">
      </div>
    </div>
    <div class="row bgcolor2">
      <div class="col-10 offset-1 col-md-8 offset-md-2 d-flex align-items-center justify-content-center tile">
        <p class="white text-center pt-sm-30">
          Początkowo znaliśmy kombuchę z YouTube'a i wiedzieliśmy, że jest czymś co zdobywa popularność w USA i
          Australii
          jako <a class="font-weight-bold underline pink" href="/blog/dieta-kombucha.html">element diety</a> wspomagającej odbudowę organizmów nie do końca właściwie funkcjonujących po latach
          konsumpcji przetwożonej żywności.<br/>
          Po tym jak pierwszy raz spróbowalismy kombuchę w Australii, od razu wiedzieliśmy, że mamy do czynienia z czymś
          co odmieni postrzeganie napojów gazowanych.
          <b>Koala Kombucha</b> to dziecko naszych eksperymentów w domu w Sydney.
          Przez kilka miesięcy prowadzilismy domową mikro-fermentację w słoiku, szukając optymalnej kwaskowatości
          fermentu,
          połączonej z owocowymi nutami.
          Naszą inspiracją były niesamowicie żywe australijskie kombuche, których profil smakowy Ty też na pewno
          pokochasz.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center tile" id="pinkie">
        <h2 class="text-center" style="color: white">Chodzi o życie w zgodzie z Twoim ciałem</h2>
      </div>
      <div class="col-12 col-md-6 pt-80 pl-0 pr-0 tile d-none d-md-block"
           style="background: url('images/blonia.jpg') no-repeat center; background-size: cover;">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 pt-80 pl-0 pr-0 tile"
           style="background: url('images/spacer.jpg') no-repeat center; background-size: cover;">
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center tile" id="drops">
        <p class="text-center">
          <b>Nikt nie wie od ciebie lepiej co jest dla ciebie dobre.</b> Doskonale wiesz
          jakie jedzenie ci służy a jakie nie, wiesz ile snu potrzebujesz żeby czuć sie dobrze i
          wiesz co ci daje energię i radość w życiu. Twoje ciało daje ci subtelne sygnały,
          sugerując, czego potrzebuje, a czego ma już dość.
          Nie będziemy ci niczego obiecywać,
          po prostu <b>spróbuj pić kombuchę 3-4x w tygodniu przez miesiąc i sprawdź co ci mówi Twoje ciało</b>.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center tile" id="beginning">
        <h2 class="text-center">
          Chodzi o powrót do naszych korzeni
        </h2>
      </div>
    </div>
    <div class="row" id="roots">
      <div class="col-12 offset-md-6 col-md-6 d-flex align-items-center tile justify-content-end">
        <p class="text-center">
          <b>Niedawno dowiedzieliśmy się ciekawej rzeczy... Nasze babcie piły gazowane napoje z żywymi bakteriami.</b>
          Kiszona kapusta i ogórki to nieodłączna część naszej kultury. Na pewno Ty też wspominasz smak "jedynych
          prawdziwych"
          kiszonek robionych przez swoich dziadków. W połowie poprzedniego wieku dużą popularnością cieszyły się
          u naszych w Polsce napoje gazowane domowej roboty znane jako rosyjski "Kvass", czy po prostu kwas chlebowy.
          Tradycyjny, kwas chlebowy uzyskiwany jest przez fermentację naparu z chleba żytniego i jest <b>pełen żywych kultur
           bakterii.</b>
          Ci z naszych dziadków, którzy eksperymentowali z recepturą kwasu chlebowego i używali do fermentacji naparu z
          czarnej
          herbaty, zamiast naparu z żyta, pili domowej roboty kombuchę.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid bgcolor1">
    <div class="row">
      <div class="col-12 col-md-6 pt-80 pl-0 pr-0 tile" id="future">
      </div>
      <div class="col-12 col-sm-5 col-md-3 text-center d-flex align-items-center tile justify-content-center">
        <h2 class="">Chodzi o bycie częścią przyszłości</h2>
      </div>
      <div class="col-12 col-sm-7 col-md-3 pt-80 pl-0 pr-0 tile" id="runner">
      </div>
    </div>
    <div class="row bgcolor2">
      <div
          class="col-12 offset-md-2 col-md-8 text-center d-flex align-items-center justify-content-center pt-sm-30 pb-sm-30 pt-80 pb-80">
        <p class="white">
          Podczas naszych podróży zauważyliśmy, że coraz więcej osób z pokolenia, które wyrosło na zamerykanizowanej
          przetwożonej
          żywności odchodzi od stylu życia do jakiego przywykli. Epidemia problemow związanych z m.in. chorobami
          immunologicznymi,
          poziomem cukru, gospodarką hormonalną czy układem trawiennym utorowała w Ameryce i Australii drogę dla wielu
          "movementów"...
          <b>Wegetarianizm, paleo, weganizm, keto, żywność organiczna/bio, GMO free, ryneczki z produktami od lokalnych
            producentów.</b>
          Ludzie zrywają z nawykami lat 90 w poszukiwaniu życia bez zmartwień o swoje zdrowie.<br/>
          Wsiadasz z nami do pociągu z nadchodzącymi zmianami, który na naszych oczach w Australii już odjechał?
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="pt-100 pb-80" id="benefity">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="heading-box">
          <h2>4 powody dlaczego Kombucha pita jest na całym świecie</h2>
          <p class="sub-heading">
            Kombucha powstała na dalekim wschodzie około 2000 lat temu i
            znana jest w Chinach jako <i>"Eliksir nieśmiertelnego zdrowia"</i>.
            W jaki sposób ten znany od wieków napój wpływa na Twój organizm?
          </p>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-lg-3">
        <div class="icon-box-1">
          <div class="health-benefit">
            <img src="images/immune.svg" alt="Oczyszczanie organizmu z Kombucha"/>
          </div>
          <h3>Oczyszczanie organizmu</h3>
          <p>
            Kombucha oparta na wysokiej jakości zielonej herbacie <b>jest pełna antyoksydantów</b>, które jak wszyscy
            wiemy wspomagają oczyszczanie organizmu, chronią przed chorobami oraz niwelują stany zapalne.
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="icon-box-1">
          <div class="health-benefit">
            <img src="images/intestine.svg" alt="Dobra flora bakteryjna jelit dzięki Kombucha"/>
          </div>
          <h3>Flora bakteryjna jelit</h3>
          <p>
            Poza byciem bogatą w antyoksydanty, kombucha jest <b>naturalnym probiotykiem w płynie</b>, który wspomaga
            produkcję dobrych bakterii w Twoich jelitach,
            stabilizując w ten sposób pracę twojego układu trawiennego.
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="icon-box-1">
          <div class="health-benefit">
            <img src="images/brain.svg" alt="Dobra praca mózgu z Kombucza"/>
          </div>
          <h3>Praca mózgu</h3>
          <p>
            <b>Wysoki poziom witamin B</b> w kombuchy, wpływa bezpośrednio na Twoją codzienną energię i ogólne
            samopoczucie.
            Coraz więcej badań wskazuje również, że spożywanie probiotyków ma działanie antydepresyjnie.
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="icon-box-1">
          <div class="health-benefit">
            <img src="images/antibacterial.svg" alt="Działanie antybakteryjne Kombucza"/>
          </div>
          <h3>Działanie antybakteryjne</h3>
          <p>
            Picie <b>żywych kultur bakterii</b> zawartych w kombuchy, ułatwia ludzkim organizmom walkę z infekcjami.
            Badania potwierdziły skuteczność kombuchy w walce m.in. z niektórymi odmianami salmonelli.
          </p>
        </div>
      </div>
      <p style="text-align: justify;" class="pl-2 pr-2">Picie kombuczy za sprawą jej właściwości jest polecane w wielu
        sytuacjach. Dzięki zawartości mnóstwa żywych kultur bakterii wspiera trawienie, co nie tylko przyczynia się do
        przyspieszenia metabolizmu oraz poprawy efektów procesu odchudzania, ale też znacznie poprawia samopoczucie.
        Witaminy z grupy B, jakie zawiera kombucha, szczególnie mocno przysłużą się podczas pracy umysłowej i nauki.
        Działanie antybakteryjne, a także oczyszczające jest natomiast przydatne absolutnie każdemu, ponieważ pozwala na
        pozbycie się z organizmu szkodzących mu toksyn czy bakterii. Na dodatek napój zawiera zwykle mniej niż 0,5 g cukru w 100 ml
        napoju, nie posiada żadnych konserwantów i nie jest pasteryzowany. Pytanie, jakie powinna budzić kombucha, nie
        brzmi zatem „czy”, ale „gdzie można ją kupić?”. Na szczęście posiadamy swój sklep, a jakby tego było mało – nie
        jest on jedynym miejscem, w którym wyposażysz się w nasz naturalny probiotyk.</p>
      <h2 class="pl-2 pr-2">Gdzie można ją kupić?</h2>
      <p style="text-align: justify;" class="pl-2 pr-2">Każdego dnia staramy się zwiększać naszą dostępność na terenie Polski,
        aby nasza kombucza była łatwa do kupienia w Twoim rejonie.
        Dodatkowo w każdą niedzielę, od 10 do 15, lejemy kombuchę na kiju na Szczecińskim Bazarze Smakowym w naszym
        sklepie: Koala Kombucha. Nie jest to jednak jedyne miejsce, gdzie możecie kupić kombuchę!
        Jeśli mieszkasz w Warszawie, Poznaniu, Gorzowie lub Szczecinie, to znajdziesz nas w przeróżnych lokalach i sklepach porozrzucanych po całym mieście.<br>
        Aktualna lista oraz mapa punktów sprzedaży, w których dostępna jest nasza kombucha, znajduje się poniżej.
        Jeśli nie widzisz niedaleko Ciebie kombuczy w sprzedaży, to zawsze możesz skorzystać z naszego
        <a href="https://sklep.koala-kombucha.pl">sklepu</a> online, w którym oferujemy bezpłatną wysyłkę.
        Wspominaliśmy również o bardzo pozytywnym działaniu żywych kultur bakterii na procesy trawienne oraz na rozwój
        flory bakteryjnej w jelitach, co poprawia ich pracę. Doskonale można wykorzystać te właściwości, zamawiając
        naszą niepasteryzowaną kombuchę do posiłku, kiedy wychodzisz do restauracji.<br>
        Kombucha doskonale również się sprawdza się jako napój dla sportowców, popijany np. zaraz po wysiłku, szczególnie w ciepłe dni,
        kiedy natychmiast ugasni prganienie - w przeciwnieństwie do większości napojów gazowanych, które często potęgują pragnienie.
        Przykładowo, miejscem, gdzie dostępna jest kombucha, jest centrum wspinaczkowe Big Wall, w którym zmęczenie po zmaganiach
        na ściance można ukoić właśnie wypiciem kombuczy. Przyniesie to oczywiście korzyści chwilowe, takie jak pobudzenie i poprawę nadwerężonej zmęczeniem
        koncentracji, ale przede wszystkim również długofalowe.</p>
      <h3 class="pl-2 pr-2">Zdrowy i naturalny napój</h3>
      <p style="text-align: justify;" class="pl-2 pr-2">Kombucza jest produktem w pełni naturalnym, powstaje w wyniku
        procesu fermentacji, który znany jest od wielu pokoleń. Nie ma w nim żadnych chemicznych dodatków, a
        spożycie tego napoju poprawia pracę organizmu na wielu płaszczyznach – od polepszenia koncentracji po walkę z
        infekcjami. Nic więc dziwnego, że kombucha dostępna jest także w sklepach z ekologiczną lub zdrową żywnością na terenie całgo kraju.</p>
    </div>
  </div>
</section>

<section class="pb-100" id="where-to-buy">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>Na mapie znajdziesz miejsca gdzie możesz kupić naszą kombuchę</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="map"></div>
        <script src="js/placeFinder.js?v7">
        </script>
      </div>
    </div>
    <div class="row mt-20 pl-2 pr-2">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Adresy lokali/sklepów gdzie kupisz naszą kombuchę:</h3>
        <h4 onclick="$('#gorzow-shops').toggleClass('d-none')">Gorzów Wielkopolski</h4>
        <ul class="d-none" id="gorzow-shops">
          <li>Matka Natura - plac Jana Pawła II, 66-400 Gorzów Wielkopolski</li>
          <li>Piramida Sana - Armii Polskiej 22, 66-400 Gorzów Wielkopolski</li>
        </ul>

        <h4 onclick="$('#poznan-shops').toggleClass('d-none')">Poznań</h4>
        <ul class="d-none" id="poznan-shops">
          <li>Bliżej Natury - Podgórna 19, 61-828 Poznań</li>
          <li>Drink Shop - Poznańska 7, 60-860 Poznań</li>
          <li>Eat Sweet & Stay Fit - Piekary 25, 61-823 Poznań</li>
          <li>EkoKram - Mylna 23/11, 60-856 Poznań</li>
          <li>Restauracja Powolność - Kanałowa 15, 60-710 Poznań</li>
          <li>Roślinny Skład - Głogowska 27/3, 60-702 Poznań</li>
          <li>Smaki Świata - Aleje Solidarności 42, 61-696 Poznań</li>
          <li>Spiżarnia Poznańska - Złotowska 55, 60-184 Poznań</li>
          <li>Zdrowie i Tradycja - Słowiańska 40G, 61-664 Poznań</li>
          <li>Zielona Micha - Górna Wilda 89, 61-567 Poznań</li>
        </ul>

        <h4 class="pointer" onclick="$('#szczecin-shops').toggleClass('d-none')">Szczecin</h4>
        <ul class="d-none" id="szczecin-shops">
          <li>Artetamina - Generała Ludomiła Rayskiego 21, 71-064 Szczecin</li>
          <li>Big Wall Szczecin - Księdza Stanisława Staszica 1, 71-515 Szczecin</li>
          <li>Bio Korona - Przyjaciół Żołnierza 128B, 71-760 Szczecin</li>
          <li>Bistro na Językach - Grodzka 2, 70-560 Szczecin</li>
          <li>Bona Gustus - Storrady Świętosławy 1c, 71-602 Szczecin</li>
          <li>Bro Burgers - Generała Ludomiła Rayskiego 24, 70-442 Szczecin</li>
          <li>CHECK ALL Burgers & Coffee - Joachima Lelewela 1, 71-154 Szczecin</li>
          <li>Chmiel Świat Piwa - Duńska 74 B, 70-795 Szczecin</li>
          <li>Corona Cafe - Kaszubska 67, 71-401 Szczecin</li>
          <li>Corona Cafe - Kolumba, 70-001 Szczecin (Szczecin Główny)</li>
          <li>Cukiernia Francuzka - Grodzka 2, 70-560 Szczecin</li>
          <li>Dary Zdrowia - al. Bohaterów Warszawy 40, 70-342 Szczecin</li>
          <li>Dzień dobry - Śląska 12, 70-435 Szczecin</li>
          <li>Dżus Luz Ryneczek Pogodno - Reymonta 3, pawilon 86</li>
          <li>Eko Vitae - ul. Zygmunta Felczaka 20C, 71-417 Szczecin</li>
          <li>Eko Life - aleja Niepodległości 28, 70-412 Szczecin</li>
          <li>Elysium - Monte Cassino 5, 71-899 Szczecin</li>
          <li>Filipinka - Stanisława Ignacego Witkiewicza 1B, 71-121 Szczecin</li>
          <li>Green Essence - Księdza Stanisława Staszica, 71-515 Szczecin</li>
          <li>Jak Malina - Małopolska 3, 70-413 Szczecin</li>
          <li>Kisiel. - Monte Cassino 35/2, 71-899 Szczecin</li>
          <li>Lewiatan - Szczecińska 18, 72-003 Dobra</li>
          <li>Lubieszyn 21 - Lubieszyn 21, 72-002 Lubieszyn</li>
          <li>Manufaktura Wakame - Sikorskiego 8 wejście od ul.Pułaskiego, 70-313 Szczecin</li>
          <li>Ole Bistro & Tapas - Bulwar Gdyński 2, Zbożowa 4, 70-653 Szczecin</li>
          <li>Organic Garden - ul. Kaszubska 4/1 , 70-403 Szczecin</li>
          <li>Organic Garden - ul. Modra 118, 71-220 Szczecin</li>
          <li>Owoce Warzywa C.H. Chopina - Chopina dz. 13/18, 71-450 Szczecin</li>
          <li>Papaj Crossfit - Husarów 4A, 71-005 Szczecin</li>
          <li>Pleciuga Caffee - pl. Teatralny 1, 71-403 Szczecin</li>
          <li>Piekarnia ul. Szeroka - Szeroka 40, 71-211 Szczecin</li>
          <li>Prosto z działki - CH Wilcza, Przyjaciół Żołnierza 4, 70-953 Szczecin</li>
          <li>Protein Point - Małopolska 4, 70-513 Szczecin</li>
          <li>Protein Point - Eugeniusza Kwiatkowskiego 1a/1 71-004 Szczecin</li>
          <li>Przystanek - Lipowa 51a, 72-003 Wołczkowo</li>
          <li>Przystań na Kawę - Generała Ludomiła Rayskiego 19, 70-442 Szczecin</li>
          <li>Restauracja Przytulna - Bławatkowa 2, 72-002 Dołuje</li>
          <li>Restauracja Sowa - aleja Wojska Polskiego 17, 70-470 Szczecin (od poniedziałku, 19.09.2019)</li>
          <li>Roll'n'go centrum - aleja Wojska Polskiego 20, 70-471 Szczecin</li>
          <li>Roll'n'go Ryneczek Pogodno - Ul. Reymonta 3, 71-276 Szczecin</li>
          <li>Samo Zdrowie - Staszica 1, 71-520 Szczecin</li>
          <li>Sklep Spożywczo-Monopolowy "Anusia" - Krakowska 15/U1, 70-021 Szczecin</li>
          <li>Sklep Spożywczo-Monopolowy - ul. Kwiatowa 4 (Gumieńce), 71-045 Szczecin</li>
          <li>Sklep Spożywczo-Monopolowy "Na Stoku" - Wiosny Ludów, 71-457 Szczecin</li>
          <li>Sklep Spożywczo- Monopolowy "Natka" ul. Wapienna 1/7, 71-790 Szczecin</li>
          <li>Sklep Zielarsko- Medyczny Ryneczek Pogodno - Reymonta 3, 71-276 Szczecin</li>
          <li>Sklep Ogólnospożywczy Ryneczek Pogodno - Reymonta 3, 71-276 Szczecin</li>
          <li>Smak Natury - Ul. Kwiatkowskiego1/8, 71-004 Szczecin</li>
          <li>Smak Życia - Rydla 68 C, 70-001 Szczecin</li>
          <li>Studium Dobrego Piwa - Fryderyka Chopina 55, 71-541 Szczecin</li>
          <li>Szczecińska Beza - Sikorskiego 8, 70-313 Szczecin</li>
          <li>Technobar - Cyfrowa 6, 71-441 Szczecin</li>
          <li>The Kitchen Meet & Eat - bulwar Piastowski 3, 70-545 Szczecin</li>
          <li>The Office - Craft Beer Pub - Osiek 10, 70-535 Szczecin</li>
          <li>Tkacka Kuchnia Kraftowa - 2a, Tkacka, 70-561 Szczecin</li>
          <li>Vinoteka - Reymonta 3/pawilon 82, 70-953 Szczecin</li>
          <li>Vinoteka - Milczańska 31f, 70-117 Szczecin</li>
          <li>Vege Club Amar - Monte Cassino 36a, 70-001 Szczecin</li>
          <li>Viki Victoria Cafe - Plac Zwycięstwa 5A, 70-233 Szczecin</li>
          <li>Weranda - Podbórzańska 54, 71-784 Szczecin</li>
          <li>Wyszak Browar Rodzinny - Księcia Mściwoja II 8, 70-535 Szczecin</li>
          <li>Zdrowy Zakątek - Przyjaciół Żołnierza 4/4B/4, 71-670 Szczecin</li>
          <li>Zielony Kram - Reymonta 5, 71-276 Szczecin</li>
          <li>Żabka - Pl. Zycięstwa 4-5, 76-020 Szczecin</li>
          <li>Żabka - ul. Jaworzynki 6, 71-784 Szczecin</li>
          <li>Żabka - ul. Spółdzielców 21C, 72-006 Mierzyn</li>
          <li>Żabka - ul. Welecka 38, 72-006 Mierzyn</li>
        </ul>

        <h4 onclick="$('#wawa-shops').toggleClass('d-none')">Warszawa</h4>
        <ul class="d-none" id="wawa-shops">
          <li>Bazar Olkulska Sklep BIO - Olkuska 12, 02-604 Warszawa</li>
          <li>Delikatesy Dr. Gaja - ul. Wrocławska 21, 01-493 Warszawa</li>
          <li>Jadłostacja - Kasprowicza 48, 01-871 Warszawa</li>
          <li>Kiosk Stacja Metra Służew - ul. Wałbrzyska 11 lok 112, 02-739 Warszawa</li>
          <li>Kiosk Stacja Metra Dworzec Gdański - ul. Zygmunta Słomińskiego 6 lok 1014, 03-991 Warszawa</li>
          <li>Natural Quality - <a href="http://naturalquality.pl/">naturalquality.pl</a> (dostawa do domu - Warszawa)</li>
          <li>Organiczny Raj - Eugeniusza Kwiatkowskiego 12b, 03-984 Warszawa</li>
          <li>Owoce i Warzywa Aleksandra Rułka - ul. Jana Kazimierza 32/U4, 01-308 Warszawa</li>
          <li>Planetarianie - Olkuska 12, 02-604 Warszawa</li>
          <li>PyszneEko.pl - ul. Farbiarska 69, 02-862 Warszawa</li>
          <li>Rolnik Ekologiczny - Turecka 1, 00-745 Warszawa</li>
          <li>Sklep Ekologiczny Trawa - plac Mirowski 1, 00-138 Warszawa</li>
          <li>Smak Natury Delikatesy Ekologiczne - al. Komisji Edukacji Narodowej 19, 02-797 Warszawa</li>
          <li>Smak Natury Delikatesy Ekologiczne - ul. Koszykowa 63, 00-667 Warszawa</li>
          <li>Smaki świata - ul. Zamieniecka 90 paw. 344, 04-158 Warszawa</li>
          <li>Spiżarnia Zdrowia - BLUE CITY, al. Jerozolimskie 179, 02-222 Warszawa</li>
          <li>Spiżarnia Zdrowia - gen. Felicjana Sławoja Składkowskiego 4, 02-497 Warszawa</li>
          <li><a href="http://www.odgospodarza.pl/">www.odGOSPODARZA.pl</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
