<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex align-items-center tile mt-40 justify-content-center" id="szczecin">
        <h1 class="text-center white" style="padding: 1%; background-color: rgba(100, 100, 100, 0.3)">
          Wszystko o naszej Kombuchy
        </h1>
      </div>
    </div>
    <div class="row mt-80">
      <div class="col-12 col-sm-6">
        <h2>Jesteśmy rodzinną firmą wywodzącą się ze Szczecina</h2>
        <p>
          Każdy z nas w różnych okresach swojego życia mieszkał w innym miejscu. Obecnie część naszej rodziny
          mieszka w Sydney, a część po latach mieszkania za granicą wróciła do Szczecina.
        </p>
        <p>
          Od dłuższego czasu naszą pasją jest badanie wpływu diety na funkcjonowanie naszych organizmów.
          Wierzymy, że z czasem Twoje ciało jest odbiciem tego jak się odżywiasz.
          Wychodzimy z założenia, że wystarczy już w Polsce bezwartościowych
          produktów pełnych cukru i konserwantów, które są nam od lat wciskane.
        </p>
        <p>
          Dlatego też założyliśmy fermentownię Kombuchy na wsi w woj. Zachodniopomorskim, w której
          w tradycyjnym procesie powstaja nasza kombucha.
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <img src="images/3orly.jpg" class="w-100" alt="Koala Kombucha - o nas" />
      </div>
    </div>
    <div class="row mt-80">
      <div class="col-12 col-md-5 mt-20 mb-20">
        <h2>Kombucha w skrócie</h2>
        <p>
          Kombucha (<b>czyt. kombucza</b>) to gazowany napój wytworzony w procesie naturalnej fermentacji.
          Nie ma tu nic skomplikowanego.
        </p>
        <p>
          <b>Wystarczy zaparzyć herbatę, zasypać cukrem, napar wychłodzić,
            dodać bakterie SCOBY, odstawić na 2-3 tyg i BOOM! kombucha gotowa.</b>
        </p>
        <p>
          Kombuchę <b>przechowuj w lodówce</b>. Pamiętaj, że bakterie w niej zawarte żyją i się rozwijają.
          Jeśli Koala Kombucha będzie zbyt długo przechowywana w temperaturze pokojowej, to może tak jak kefir czy mleko
          po prostu skisnąć.
        </p>
        <p>
          Jeśli w butelce Koali Kombuchy znajdziesz <b>pływającą galaretowatą substancję</b>, nie przejmuj się.
          To właśnie kultury bakterii SCOBY. Jest to całkowicie normalny symptom zdrowej fermentacji.
        </p>
        <p>
          Staraj się też początkowo <b>nie pić więcej niż 330ml</b> kombuchy dziennie.
          Układ pokarmowy, który nie przywykł do codziennej dawki probiotyków,
          może różnie zareagować na ich nagłą nadwyżkę.
        </p>
      </div>
      <div class="col-12 col-md-7">
        <img src="images/scoby.jpg" class="w-100" alt="O nas - Koala Kombucha" />
      </div>
    </div>
    <div class="row mt-80 pb-100" id="promise">
      <div class="col-12 col-md-6">
        <img src="images/kosz.jpg" class="w-100" alt="O nas i Kombucza" />
      </div>
      <div class="col-12 col-md-6">
        <h2 class="pb-20 pt-sm-30">
          Sami codziennie pijemy naszą Kombuchę.<br/>
          Nie idziemy na żadne kompromisy.<br/>
          Dajemy Wam słowo, że:
        </h2>
        <ul>
          <li>
            Nasza kombucha jest prawdziwa. <b>Nie pasteryzujemy</b> naszego produktu.
            Pasteryzacja zabija naturalnie wytworzone bakterie.
          </li>
          <li>Dzięki braku pasteryzacji nasz napój pełny jest <b>naturalnych probiotyków</b> powstających w procesie fermentacji.</li>
          <li>
            Kultury bakterii występujące w naszej kombuchy to: <b>Acetobacter, Saccharomyces, Brettanomyces, Lactobacillus,
            Pediococcus, Gluconacetobacter i Zygosaccharomyces</b>.
          </li>
          <li>
            Nasz produkt jest w <b>100% naturalny</b>, nie używamy żadnych konserwantów.
            Najlepszym tego potwierdzeniem jest posiadanie przez nas <b>certyfikatu BIO</b>.
          </li>
          <li>
            Staramy się aby jak najwięcej <b>cukru</b> jakiego używamy do fermentacji herbaty było przetwożone w kwasy organiczne.
            Dzięki temu śmiało możecie pić Koalę Kombucha nie martwiąc się o <b>zbędne kalorie</b>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
