<div class="container-fluid mt-20">
  <div class="row">
    <div class="col-12"><p style="text-align: center;"><strong>Polityka prywatności</strong></p>
      <p style="text-align: center;"><strong>§ 1</strong></p>
      <ol>
        <li>Niniejsza Polityka Prywatności zawiera informacje dotyczące zasad przetwarzania i ochrony danych osobowych
          podmiotów korzystających z serwisu (zwanymi dalej: „Użytkownikami”) będącego własnością firmy Koala Kombucha,
          znajdującego się pod adresem www.koala-kombucha.pl (zwanym dalej „Serwisem”) oraz politykę plików
          cookies.
        </li>
        <li>Administratorem danych osobowych przekazanych przez Użytkowników jest Eliza Jurkowski, Koala Kombucha. z
          siedzibą w Szczecinie przy ul. Zawiła 17, 71-499 Szczecin, wpisana do ewidencji
          działalności CEIDG, REGON: 380104765, NIP: 852-240-74-14, zwany dalej „Administratorem”.
        </li>
        <li>Przetwarzanie danych osobowych odbywa się na zasadach określonych w ustawie z dnia 10 maja 2018 r. o
          ochronie danych osobowych oraz w Rozporządzeniu Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27
          kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
          swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie
          danych).
        </li>
        <li>Pozyskiwanie informacji o Użytkownikach Serwisu i ich zachowaniu odbywa się w następujący sposób:<br> (a)
          poprzez dane wprowadzone dobrowolnie przez Użytkowników w formularzach elektronicznych zamieszczonych w
          Serwisie (w tzw. sidebarach, formularzach kontaktowych oraz formularzach bezpłatnej wyceny) lub formularzach
          aplikacji internetowej live chat,<br> (b) poprzez zapisywanie w urządzeniach końcowych plików cookies (tzw.
          „ciasteczka”),<br> (c) poprzez gromadzenie logów serwera www przez operatora hostingowego.
        </li>
        <li>Serwis zbiera wyłącznie informacje dobrowolnie podane przez Użytkowników, przy czym Serwis może zbierać
          ponadto informacje o parametrach połączenia (czas, adres IP, przeglądarka).
        </li>
        <li>W serwisie wykorzystywany jest protokół szyfrowania komunikacji (SSL), którego celem jest zapewnienie
          najwyższych standardów bezpieczeństwa.
        </li>
      </ol>
      <p style="text-align: center;"><strong> § 2</strong></p>
      <ol>
        <li style="text-align: left;">Pliki cookies zwane także „ciasteczkami” są to pliki tekstowe zapisywane i
          przechowywane w pamięci urządzenia wykorzystywanego do przeglądania stron internetowych (np. komputer PC,
          notebook, tablet, palmtop, telefon komórkowy). Z plikami tymi, po ich zapisaniu, łączy się serwer albo serwery
          uzyskując do nich odpowiedni dostęp.
        </li>
        <li style="text-align: left;">Niniejsza strona internetowa www.koala-kombucha.pl oraz wszystkie jej podstrony
          oraz
          subdomeny korzystają z plików cookies wyłącznie w celach:<br> (a) tworzenia zbiorczych statystyk i analiz,
          które ułatwiają zrozumieć w jaki sposób używany jest Serwis oraz pomagają w jego rozwoju,<br> (b)
          optymalizacji stron internetowych pod kątem różnych urządzeń i przeglądarek,<br> (c) mierzenia skuteczności
          prowadzonych akcji i działań reklamowych, a także dopasowania treści i form reklam, wyświetlanych zarówno na
          stronie Serwisu jak i np. w sieci reklamowej Google (więcej szczegółów: <a
              href="https://support.google.com/adwords/answer/2407785" target="_blank" rel="noopener">https://support.google.com/adwords/answer/2407785</a>);
        </li>
        <p>W związku z powyższym część danych może być przekazywana za pośrednictwem narzędzi, z których korzystamy, do
          zewnętrznych partnerów. Partnerzy mogą natomiast połączyć te dane z innymi informacjami otrzymanymi od
          Użytkownika lub przesłanymi za pomocą narzędzi, z których sam korzysta. Poniżej znajduje się lista partnerów z
          którymi współpracujemy:</p>
        <ol>
          <li>Google Analytics (administrator cookies: Google Inc z siedzibą w USA),</li>
          <li>Google AdWords (administrator cookies: Google Ireland Limited z siedzibą w Irlandii),</li>
          <li>Facebook (administrator cookies: Facebook Ireland Limited z siedzibą w Irlandii),</li>
          <li>Hotjar (administrator cookies: Hotjar Limited z siedzibą na Malcie),</li>
          <li>Smarsupp (administrator cookies: Smartsupp.com, s.r.o. z siedzibą w Republice Czeskiej),</li>
          <li>Albacross (administrator cookies: Albacross Nordic AB z siedzibą w Szwecji.</li>
        </ol>
        <li style="text-align: left;">Na stronie internetowej Serwisu wykorzystywane są dwa rodzaje plików cookies:(a)
          sesyjne – pozostają na urządzeniu Użytkownika aż do opuszczenia strony internetowej lub wyłączenia
          przeglądarki internetowej; (b) stałe – pozostają na urządzeniu Użytkownika przez określony czas albo do
          momentu ich ręcznego usunięcia przez użytkownika.
        </li>
        <li style="text-align: left;">Poprzez zmianę ustawień oprogramowania wykorzystywanego do przeglądania niniejszej
          strony internetowej <a href="http://www.koala-kombucha.pl">www.koala-kombucha.pl</a> i jej podstron lub
          subdomen,
          istnieje możliwość określenia warunków przechowywania oraz warunków uzyskiwania dostępu do plików cookies
          wykorzystywanych przez tę stronę i jej podstrony, w szczególności możliwość całkowitego wyłączenia ich
          obsługi.
        </li>
        <li style="text-align: left;">W celu zmiany ustawień związanych z obsługą plików cookies należy odpowiednio
          skonfigurować oprogramowanie wykorzystywane do przeglądania niniejszej strony internetowej
          www.koala-kombucha.pl
          i jej podstron. Stosowne informacje w tym zakresie można uzyskać korzystając z pomocy technicznej dla takiego
          oprogramowania lub kontaktując się z jego dostawcą.
        </li>
        <li style="text-align: left;">Brak zmiany ustawień oprogramowania wykorzystywanego do przeglądania niniejszej
          strony internetowej <a href="http://www.koala-kombucha.pl">www.koala-kombucha.pl</a> i jej podstron, stanowi w
          myśl
          art. 173 ust. 2 Ustawy prawo telekomunikacyjne wyrażenie zgody na korzystanie przez tę stronę i jej podstrony
          z plików cookies w celach wyżej określonych.
        </li>
      </ol>
      <p style="text-align: center;"><strong>§ 3</strong></p>
      <ol>
        <li>Informacje o niektórych zachowaniach Użytkowników są zapisywane po stronie serwera. Dane te są
          wykorzystywane tylko i wyłącznie w celu administrowania serwisem oraz w celu zapewnienia wydajności hostingu.
        </li>
        <li>Przeglądane zasoby identyfikowane są poprzez adresy URL. Zapisowi mogą podlegać inne parametry takie jak
          czas nadejścia zapytania oraz wysłania odpowiedzi, napotkane błędy, informacja o adresie IP użytkownika oraz
          wykorzystywanej przez niego przeglądarce. Wszystkie zebrane dane nie są powiązane z konkretnymi osobami
          przeglądającymi Serwis, a ich wykorzystanie ma na celu tylko i wyłącznie efektywne administrowanie serwerem.
        </li>
      </ol>
      <p style="text-align: center;"><strong>§ 4</strong></p>
      <ol>
        <li>Przetwarzanie danych osobowych Użytkowników Serwisu, o których mowa w § 1 ust. 4 powyżej, następuje
          wyłącznie w celu, w jakim niniejsze dane zostały wprowadzone przez Użytkownika Serwisu do Serwisu za uprzednią
          jego zgodą, w tym:<br> a. w celu sporządzenia wyceny usługi i wysłania oferty handlowej,<br> b. w celu obsługi
          zgłoszenia, kontaktu lub udzielenia odpowiedzi na wiadomość przesłaną przez Użytkownika Serwisu;<br> c.
          wypełniania przez Administratora obowiązków, które nakładają na niego przepisy prawa,<br> d. wypełniania przez
          Administratora prawnie usprawiedliwionych celów (np. prowadzenia działań marketingowych), realizowanych przez
          Administratora albo odbiorców danych, które nie narusza praw i wolności osoby, które dane dotyczą.
        </li>
        <li>Odbiorcami danych osobowych Użytkowników Serwisu są podmioty współpracujące z Administratorem w zakresie
          niezbędnym do realizacji celów wskazanych w § 4 ust. 1 powyżej oraz podmioty przetwarzające dane w naszym
          imieniu, tj. podmioty obsługujące systemy informatyczne, podmioty świadczące usługi doradcze, usługi księgowe
          i prawne.
        </li>
        <li>Na podstawie niniejszej Polityki Prywatności Administrator będzie gromadził część lub wszystkie&nbsp;z
          danych wymienionych niżej:<br> a) imię i nazwisko,<br> b) nazwę firmy,<br> c) numer telefonu kontaktowego,<br>
          d) adres e-mail,<br> e) adresy IP,<br> f) adres www strony Użytkownika,<br> g) informacje komplementarne,
          dotyczące prowadzonego przez Użytkownika biznesu.
        </li>
        <li>Dostęp do danych osobowych mają wyłącznie osoby posiadające nadane przez Administratora upoważnienia.</li>
        <li>Na podstawie odpowiednich przepisów prawa, dane osobowe zgromadzone przez Administratora mogą być
          udostępnione odpowiednim organom państwa.
        </li>
        <li>Zgromadzone dane Użytkowników będą przechowywane jedynie tak długo, jak jest to dozwolone ze względów
          prawnych i regulacyjnych (w tym np. księgowo-rachunkowych) oraz niezbędne ze względu na usprawiedliwioną
          realizację celów wskazanych § 4 ust. 1.
        </li>
        <li>Administrator kontaktować się będzie z Użytkownikiem za pośrednictwem poczty elektronicznej, telefonu, lub
          poprzez aplikację internetową (live chat).
        </li>
        <li>Administrator jest odpowiedzialny za użycie odpowiednich środków technicznych i organizacyjnych mających na
          celu zapewnienie bezpieczeństwa danych przekazanych przez Użytkowników Serwisu, w szczególności
          uniemożliwiających dostęp do nich osobom trzecim lub ich przetwarzanie z naruszeniem przepisów prawa,
          zapobiegających utracie danych, ich uszkodzeniu lub zniszczeniu.
        </li>
        <li>Użytkownikom Serwisu przysługuje prawo do wniesienie skargi do organu nadzorczego, gdy uznają, że
          przetwarzanie danych narusza przepisy ogólnego rozporządzenia o ochronie danych osobowych z 17 kwietnia 2016
          r.
        </li>
        <li>Użytkownikom Serwisu przysługuje prawo dostępu do treści swoich danych osobowych oraz prawo ich sprostowana,
          ograniczenia przetwarzania danych, prawo do przenoszenia danych, usunięcia danych, prawo do wniesienia
          sprzeciwu oraz cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego
          dokonano na podstawie zgody przed jej cofnięciem.
        </li>
        <li>W razie wszelkich pytań, wątpliwości, zastrzeżeń lub reklamacji dotyczących polityki prywatności, a także w
          przypadku realizacji uprawnień opisanych powyżej prosimy o kontakt mailowy
          na adres <a href="mailto:kontakt@koala-kombucha.pl">kontakt@koala-kombucha.pl</a></li>
      </ol>
    </div>
  </div>
</div>
